@charset "UTF-8";

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Bold.woff") format("woff"), url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Regular.woff") format("woff"), url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ======================================================================= */

.header__burger {
  width: 30px;
  height: 33px;
  cursor: pointer;
  position: absolute;
  display: none;
  z-index: 10005;
  right: 0;
}

.header__burger span {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: block;
  height: 3px;
  background-color: #fff;
}

.header__burger span::before {
  margin-top: -8px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.header__burger span::after {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.active span {
  height: 0px;
}

.active span::before {
  -webkit-transform: rotate(45deg) translate(0px, 9px);
      -ms-transform: rotate(45deg) translate(0px, 9px);
          transform: rotate(45deg) translate(0px, 9px);
}

.active span::after {
  -webkit-transform: rotate(-45deg) translate(0px, -9.3px);
      -ms-transform: rotate(-45deg) translate(0px, -9.3px);
          transform: rotate(-45deg) translate(0px, -9.3px);
}

.header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header.sect1 {
  background-color: rgba(0, 0, 0, 0.541);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header.sect1 .nav-link {
  color: #fff;
}

.nav-link {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #010101;
  padding: 10px 10px 8px 10px !important;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  background: #ed017f;
  color: #fff;
}

.lcn {
  color: #fff;
}

.navbar-brand {
  margin-right: 50px;
}

.nav-item {
  margin-right: 70px;
}

.nav-item:last-child {
  margin-right: 0 !important;
}

.btn-main {
  width: 200px;
  height: 58px;
  text-transform: uppercase;
  margin-right: 20px;
}

.btn-main:last-child {
  margin-right: 0;
}

.header__button.stels-btn {
  display: none !important;
}

.intro {
  margin-top: 180px;
}

.intro__left {
  position: relative;
  z-index: 1;
}

.intro__title {
  font-weight: 800;
  line-height: 1.2em;
  color: #010101;
  max-width: 470px;
  font-size: calc(18px + 36 * (100vw / 1800));
}

.lcn {
  margin-left: 5px;
}

.intro__icon {
  fill: #ff1ea5;
  width: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 26px;
  margin-right: 20px;
}

.icon-man {
  height: 28px;
}

.red-color {
  color: #ed017f;
}

.intro__list-item {
  margin-top: 7px;
  color: #676767;
  font-weight: 400;
}

.intro__right {
  position: static;
  height: auto;
}

.left__button {
  position: relative;
}

.intro__images {
  position: absolute;
  top: 0;
  height: auto;
  max-height: 770px;
  right: 0;
  max-width: 50%;
}

.intro__images img {
  width: 100%;
  height: 100%;
  max-height: 820px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__cirlce-block {
  position: absolute;
  top: 0;
  right: 3%;
  z-index: 2;
  width: 12%;
}

.intro__cirlce-block img {
  height: auto;
  width: 100%;
}

.left-btn {
  position: absolute !important;
  left: -75px;
  top: 20%;
}

.btn-follow {
  padding: 0px 25px;
  height: 70px;
  cursor: pointer;
  color: #343434;
  font-size: calc(13px + 5 * (100vw / 1170));
  background-color: #fff !important;
  font-weight: 800;
  -webkit-box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
  border-radius: 55px !important;
  width: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-follow:hover {
  color: #202020;
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}

.btn-follow:hover .intro__icon path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #7935be !important;
}

.right-btn {
  position: absolute !important;
  right: 30px;
  margin-top: 30px;
  width: auto;
}

.phone__images {
  display: none;
}

.use {
  margin-top: 194px;
  position: relative;
  overflow: hidden;
}

.use .row {
  position: relative;
}

.use__item {
  margin-top: 40px;
  cursor: pointer;
}

.use__item:first-child {
  margin-top: 0;
}

.use__img {
  position: relative;
  z-index: 3;
}

.use__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 92%);
      -ms-transform: translate(-50%, 92%);
          transform: translate(-50%, 92%);
  width: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 0%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed017f), to(#7f33b5));
  background: -o-linear-gradient(top, #ed017f 0%, #7f33b5 100%);
  background: linear-gradient(180deg, #ed017f 0%, #7f33b5 100%);
}

.use__item.hsa .use__img::after {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 60%;
}

.strip {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 90%);
      -ms-transform: translate(-50%, 90%);
          transform: translate(-50%, 90%);
  width: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed017f), to(#7f33b5));
  background: -o-linear-gradient(top, #ed017f 0%, #7f33b5 100%);
  background: linear-gradient(180deg, #ed017f 0%, #7f33b5 100%);
}

.use-phone {
  max-width: 300px;
  max-height: 604px;
  position: relative;
  z-index: 3;
  display: block;
}

.use__phones {
  position: relative;
  max-width: 300px;
  max-height: 604px;
  min-width: 0;
}

.use__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2em;
  color: #343434;
}

.use__block {
  max-width: 290px;
  font-size: 14px;
  line-height: 157%;
  font-weight: 400;
  color: #999999;
}

.use__text {
  margin-bottom: 0;
}

.hows-1 {
  position: absolute;
  left: 0;
  top: 0;
}

.hows-2 {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.hows-3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-100%, -40%);
      -ms-transform: translate(-100%, -40%);
          transform: translate(-100%, -40%);
}

.new-phone {
  position: absolute;
  width: 93.5%;
  height: 96%;
  border-radius: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
}

.slick-list {
  overflow: hidden;
}

.use__slider.slick-slider.slick-initialized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.use__slider .slick-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.use__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Слайд */

.use__slider .slick-slide {
  left: 20%;
  position: absolute;
}

.slick__dots .slick-list {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}

.slick__dots .slick-track {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}

.slick__dots .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slick__dots .slick-list {
  overflow: visible;
}

.slick__dots .slick-current.hsl {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.slick__dots .slick-current.hsl img {
  overflow: visible;
  -webkit-box-shadow: 0px 0px 9px 7px rgba(128, 71, 185, 0.212);
          box-shadow: 0px 0px 9px 7px rgba(128, 71, 185, 0.212);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 50%;
}

.use__item {
  width: auto !important;
}

.use__rightN {
  position: absolute;
  top: -40px;
  right: -50px;
  width: 15%;
}

.use__arrows {
  display: none;
}

.shop {
  margin-top: 40px;
  background: url(../img/shop.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 110px 0px 125px 0px;
  position: relative;
  overflow: hidden;
}

.shop .row {
  position: relative;
  z-index: 4;
}

.shop__block {
  background-color: #fff;
  border-radius: 25.8765px;
  padding: 24px 20px 20px !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48.5%;
          flex: 1 1 48.5%;
  max-width: 48.5%;
}

.shop__block:last-child {
  margin-right: 0;
}

.shop__block .shop__block-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}

.shop__block .shop__block-string {
  margin-top: 12px;
  border-radius: 25.8765px;
  background-color: #f9f2ff;
  padding: 15.924px 29.8575px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.shop__block .shop__block-string:nth-child(odd) {
  background-color: #fff;
}

.shop__block .btn-circle {
  border-radius: 24.8812px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop__block.red__block .shop__block-title {
  color: #ed017f;
}

.shop__block.red__block .btn-circle {
  color: #ed017f;
  border-color: #ed017f;
}

.shop__block.purple__block .shop__block-title {
  color: #7834be;
}

.shop__block.purple__block .btn-circle {
  color: #7834be !important;
  border-color: #7834be;
}

.shop__block.purple__block .btn-red {
  background-color: #7834be;
  color: #fff !important;
}

.hearts {
  position: absolute;
  left: 30px;
  top: 50px;
}

.inst {
  position: absolute;
  right: 0;
  top: 0;
}

.hearts_bot {
  position: absolute;
  right: 55px;
  bottom: 50px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.inst_bot {
  position: absolute;
  left: 2%;
  bottom: 0;
}

.news {
  background-color: #ffffff;
  padding: 40px 0px 30px 0px;
  position: relative;
}

.news__block {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 35, 157, 0.8)), color-stop(0.01%, rgba(94, 41, 205, 0.8)), to(rgba(46, 6, 131, 0.8)));
  background: -o-linear-gradient(top, rgba(74, 35, 157, 0.8) 0%, rgba(94, 41, 205, 0.8) 0.01%, rgba(46, 6, 131, 0.8) 100%);
  background: linear-gradient(180deg, rgba(74, 35, 157, 0.8) 0%, rgba(94, 41, 205, 0.8) 0.01%, rgba(46, 6, 131, 0.8) 100%);
  -webkit-box-shadow: 0px 10px 34px rgba(237, 1, 127, 0.2);
          box-shadow: 0px 10px 34px rgba(237, 1, 127, 0.2);
  border-radius: 20px;
  max-width: 320px;
  padding: 16px;
  position: relative;
  z-index: 5;
}

.news__block-main_text {
  font-family: "Mont";
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.58%;
  color: #ffffff;
}

.news__block-main_text img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;
  display: inline;
}

.news__block-main_text span {
  font-size: 18px;
  margin-top: 20px;
  display: block;
  letter-spacing: 0;
  margin-bottom: 7px;
}

.news__block-title {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0;
  color: #fff;
}

.mini-text {
  font-size: 12px;
  font-family: "Mont";
  line-height: 15px;
  letter-spacing: 0;
  opacity: 0.6;
  color: #fff;
  font-weight: 400;
  display: block;
}

.news__block-mainI {
  border-radius: 11px;
}

.news__avatar {
  border-radius: 50%;
}

.av-1 {
  margin-left: -9px;
}

.av-2 {
  margin-left: -12px;
  margin-right: 8px;
}

.btn-news {
  width: 200px;
  height: 58px;
  text-transform: uppercase;
}

.news__teleg-top {
  position: absolute;
  top: 5%;
  right: 10%;
}

.news__cube-top {
  position: absolute;
  top: 0;
  left: 10%;
}

.news__teleg-bot {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.blog__arrows {
  display: none;
}

.footer .align-items-end {
  position: relative;
  z-index: 10;
}

.blog {
  background: url(../img/blog_bg.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 40px 0px 90px 0px;
}

.blog__block {
  position: relative;
}

.blog__block:nth-child(2) {
  margin-top: 60px;
}

.blog__block:last-child {
  overflow: hidden;
  margin-top: 125px;
}

.blog__block-top {
  position: relative;
  left: -40px;
  margin-bottom: -27px;
}

.blog__block-mainImg {
  position: relative;
  z-index: 2;
  border-radius: 15px;
}

.blog__block-bg {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1;
}

.blog__block-inner {
  position: relative;
  z-index: 3;
}

.blog__block-title {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.7em;
  letter-spacing: 0;
  color: #272d4e;
}

.blog__block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "Mont";
  letter-spacing: 0;
  color: #94a2b3;
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #7935be;
}

.rotate .blog__block-bg {
  right: 0 !important;
  left: auto;
}

.footer {
  padding: 60px 0px 34px 0px;
  position: relative;
}

.footer__title {
  max-width: 200px;
  font-weight: 800;
  font-size: 20px;
  line-height: 165%;
}

.footer__nav-link {
  color: #363940;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  color: #363940;
}

.footer_r {
  position: absolute;
  top: 0;
  right: 0;
}

.footer_l {
  position: absolute;
  bottom: 0;
  left: 0;
}

body {
  font-family: "Muller";
}

body.burger__active {
  overflow: hidden;
}

.row {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #010101;
  padding: 0;
  max-width: 1170px;
}

.btn-follow {
  position: relative;
  z-index: 2;
}

.button {
  background-color: #ed017f;
  -webkit-box-shadow: 0px 4px 30px rgba(37, 0, 28, 0.15);
          box-shadow: 0px 4px 30px rgba(37, 0, 28, 0.15);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-transparent {
  color: #ed017f !important;
  border: 3px solid #ffffff;
  background-color: transparent;
}

.btn-transparent:hover {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

.btn-purple {
  color: #7834be !important;
  border-color: #7834be;
}

.btn-red {
  color: #ffffff !important;
  background-color: #ed017f;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(237, 1, 127, 0.25);
          box-shadow: 0px 0px 9px 3px rgba(237, 1, 127, 0.25);
}

.btn-red:hover {
  background-color: #db1f83;
}

.main__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.3em;
  text-align: center;
  color: #343434;
}

.main__title.white {
  color: #fff;
}

.btn-white {
  color: #fff !important;
}

.red-border {
  border-color: #ed017f;
}

.main__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  margin-top: 13px;
  text-align: center;
  color: #ffffff;
}

.main__subtitle.white {
  color: #999999;
}

@media (min-width: 1830px) {
  .lcn {
    margin-left: 30px;
  }

  .use {
    margin-top: 290px;
  }

  .intro__title {
    font-size: 52px;
  }

  .intro {
    margin-top: 240px;
  }
}

@media (max-width: 1450px) {
  .use {
    margin-top: 154px;
  }
}

@media (max-width: 1250px) {
  .intro__title {
    font-size: calc(18px + (34 + 34 * 0.7) * ((100vw - 320px) / 1250px)) !important;
  }
}

@media (max-width: 1200px) {
  .intro__title {
    max-width: 450px;
  }

  .header {
    padding-left: 0px !important;
  }

  .lcn {
    margin-left: 0;
  }

  .container {
    padding: 0px 15px;
  }
}

@media (max-width: 1150px) {
  .nav-item {
    margin-right: 20px;
  }

  .navbar-brand {
    margin-right: 30px;
  }

  .intro__title {
    max-width: 370px;
  }

  .lcn {
    color: #010101;
  }
}

@media (max-width: 1125px) {
  .intro__title {
    max-width: 390px;
  }
}

@media (max-width: 1050px) {
  .news__block {
    padding: 12px;
  }
}

@media (max-width: 1025px) {
  .lcn {
    color: #fff;
  }
}

@media (max-width: 991px) {
  .header__burger {
    display: block;
  }

  .navbar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .navbar-nav {
    position: fixed;
    overflow-y: auto;
    top: -200%;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.938);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  .navbar-nav.active {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    top: 0;
  }

  .intro__icon {
    margin-right: 10px;
  }

  .btn-follow {
    padding: 9px 15px 7px 15px;
  }

  .nav-link {
    text-align: center;
    color: #fff;
    padding: 20px 20px 15px 20px !important;
    font-size: calc(18px + (10 + 10 * 0.7) * ((100vw - 320px) / 991));
  }

  .nav-item {
    margin-right: 0;
    margin-top: 30px;
  }

  .nav-item:first-child {
    margin-top: 0 !important;
  }

  .header__button {
    text-align: right;
    margin-right: 50px;
    display: block !important;
  }

  .btn-main {
    height: 45px;
    width: 150px;
    font-size: 12px;
  }

  .intro__cirlce-block {
    display: none;
  }

  .news__teleg-top {
    display: none;
  }

  .intro {
    margin-top: 140px;
  }

  .left-btn {
    top: 14%;
  }

  .right-btn {
    margin-top: 0;
  }

  .btn-use {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }

  .intro__title {
    max-width: 400px;
  }

  .hows {
    width: 40%;
  }

  .hows-3 {
    width: 60%;
    top: 40%;
  }

  .hows-1 {
    width: 25%;
  }

  .use-phone {
    max-width: 80%;
    max-height: 100%;
  }

  .new-phone {
    width: 74%;
    height: 97.6%;
    left: 40.8%;
  }

  .intro__icon {
    width: 25px;
    height: 23px;
  }

  .btn-follow {
    height: auto;
    padding: 15px 15px 13px 15px;
  }

  .inst_bot {
    display: none;
  }

  .inst {
    width: 25%;
  }

  .rotate {
    margin-top: 0 !important;
  }

  .blog .row {
    padding-left: 20px !important;
  }

  .blog__block-bg {
    left: 15px;
  }

  .rotate .blog__block-bg {
    right: 70px !important;
  }

  .news__block {
    max-width: 420px;
    margin-right: 0;
    margin: 0 auto;
  }

  .use {
    margin-top: 80px;
  }

  .lsn .news__block {
    margin: 30px auto 0px auto !important;
  }

  .news__teleg-bot {
    display: none;
  }
}

@media (max-width: 991px) and (max-height: 390px) {
  .nav-link {
    padding: 14px 14px 11px !important;
  }

  .header__button {
    margin-top: 20px !important;
  }
}

@media (max-width: 767px) {
  .intro {
    background: -o-linear-gradient(50.03deg, #ef2779 0.79%, #7834be 79.29%);
    background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
    margin-top: 0px;
    padding-top: 110px;
    padding-bottom: 50px;
    border-radius: 0px 0px 50px 50px;
  }

  .btn-follow {
    position: static !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 !important;
  }

  .intro__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__buttons .button {
    color: #fff !important;
  }

  .use {
    margin-top: 0px;
  }

  .intro__left {
    text-align: center;
  }

  .intro__title {
    margin: 0 auto;
    max-width: 500px;
    color: #fff;
  }

  .intro__list-item {
    color: #fff;
  }

  .intro__images {
    position: relative;
    width: auto;
    display: inline-block;
  }

  .intro__main-img {
    display: none;
  }

  .intro__right {
    border-radius: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }

  .right-btn {
    top: 80px;
  }

  .phone__images {
    display: none;
    padding: 40px 0px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .left-phone {
    position: relative;
    right: -40px;
    height: auto !important;
  }

  .center-phone {
    z-index: 3;
    position: relative;
  }

  .right-phone {
    height: auto !important;
    position: relative;
    left: -40px;
  }

  .use__title {
    font-size: 15px;
  }

  .use__img::after {
    -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }

  .use__item.hsa .use__img::after {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height: calc(100% - 30px);
  }

  .hows-1 {
    top: 30px;
  }

  .use .row {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }

  .use__text {
    font-size: 13px;
  }

  .shop__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .shop__block:last-child {
    margin-bottom: 0;
  }

  .shop {
    background: url(../img/shops.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .inst {
    width: 27%;
    top: 20px;
  }

  .hearts {
    width: 24%;
  }

  .hearts_bot {
    bottom: 0;
    right: 80px;
    width: 26%;
  }

  .shop {
    padding: 30px 0px 80px 0px;
  }

  .blog__block-bg {
    left: 0 !important;
    right: 0 !important;
  }

  .blog__slider .slick-list {
    padding: 0px 25% 0px 0px;
  }

  .blog .row {
    padding-left: 0px !important;
  }

  .blog__block:nth-child(3) {
    margin: 0 !important;
  }

  .blog__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px;
  }

  .slick-arrow {
    font-size: 0;
    background-color: none;
  }

  .slick-arrow.slick-prev {
    height: 45px;
    background: url(../img/right-arrow.svg) no-repeat;
    width: 60px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .slick-arrow.slick-next {
    background: url(../img/right-arrow.svg) no-repeat;
    height: 45px;
    width: 60px;
    margin-left: 50px;
  }

  .news__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__slider .slick-list {
    padding: 0px 25% 0px 0px;
  }

  .news__block {
    margin: 0 !important;
  }

  .footer_r {
    display: none;
  }

  .footer_l {
    width: 110px;
  }

  .blog__block {
    margin-top: 0 !important;
  }

  .footer__logo {
    width: 80%;
  }

  .lsn .news__block {
    margin: 0 !important;
  }
}

@media (max-width: 599px) {
  .use__img::after {
    -webkit-transform: translate(-50%, 68%);
        -ms-transform: translate(-50%, 68%);
            transform: translate(-50%, 68%);
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-right: 0px;
    width: 50px;
  }

  .navbar-brand img {
    width: 50px;
  }

  .header__button .button {
    width: 120px;
    height: 37px;
    padding: 0;
    font-size: 11px;
  }

  .news__cube-top {
    left: 3%;
    width: 20%;
  }

  .btn-100 {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }

  .footer_l {
    display: none;
  }

  .footer {
    padding: 40px 0px 30px 0px;
  }

  .main__title {
    font-size: 28px;
    margin-bottom: 0;
  }

  .main__subtitle {
    font-size: 15px;
    margin-top: 5px;
  }

  .btn-news {
    width: 150px;
    height: 45px;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .use {
    margin-top: 20px !important;
  }

  .hows-2 {
    display: none;
  }

  .use__img::after {
    -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }

  .slick__dots {
    display: none;
  }

  .use__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .use-phone {
    max-width: 100%;
    max-height: 100%;
  }

  .new-phone {
    width: 92.7%;
    height: 96.8%;
    left: 50.6%;
  }

  .use__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }

  .hows-1 {
    display: none;
  }

  .hows-3 {
    top: 60%;
  }

  .btn-use {
    width: 100%;
    height: 50px;
    font-size: 15px;
  }

  .use {
    margin-top: 150px;
  }

  .hows-2 {
    top: 10%;
    right: 0;
    left: auto;
    display: block;
  }
}

@media (max-width: 564px) {
  .blog {
    padding: 30px 0 40px 0;
  }

  .blog__slider .slick-list {
    padding: 0px 10% 0px 0px;
  }

  .blog__block-mainImg {
    width: 90%;
  }

  .blog__block-bg {
    width: 60%;
  }

  .blog__block-title {
    font-size: 18px;
  }

  .blog__block-text {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .blog__arrows {
    margin-top: 15px;
  }

  .news__slider .slick-list {
    padding: 0px 6% 0px 0px;
  }

  .slick-slide {
    padding-left: 0;
  }
}

@media (max-width: 470px) {
  .intro {
    padding-top: 80px;
  }

  .intro__right {
    margin-top: 20px;
  }

  .intro__icon {
    width: 16px;
  }

  .btn-follow {
    font-size: 12px;
    padding: 10px 10px 8px 10px;
  }
}

@media (max-width: 450px) {
  .header__button.d-flex {
    display: none !important;
  }

  .header__button.stels-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: 0;
    margin-top: 30px;
  }

  .header__button.stels-btn .button {
    width: auto;
    padding: 0px 20px;
    font-size: 13px;
    height: 45px;
  }

  .nav-item {
    margin-top: 10px !important;
  }

  .shop__block {
    padding: 18px 13px 13px !important;
  }

  .shop__block span {
    font-size: 13px;
  }

  .btn-circle {
    padding: 9px 17px;
  }

  .shop__block-string {
    padding: 13.924px 15.8575px !important;
  }

  .footer__title {
    max-width: 170px;
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 450));
  }

  .footer__nav-link {
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  .intro__buttons .button {
    width: 50%;
    height: 40px;
    font-size: 11px;
  }

  .footer__logo {
    width: 100%;
  }

  .comments__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav-link {
    font-size: 13px;
  }

  .footer__title {
    max-width: 150px;
  }

  .footer__logo-link {
    margin-right: 8px;
    width: 38px;
  }
}