/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* ======================================================================= */

.intro {
  background: url(../img/introBG.png) no-repeat;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 122px;
  width: 100%;
  background-position: -5vw 0px;
  background-color: #0f141e;
  overflow: hidden;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f141e), to(rgba(15, 20, 30, 0.54)));
  background: -o-linear-gradient(top, #0f141e 0%, rgba(15, 20, 30, 0.54) 100%);
  background: linear-gradient(180deg, #0f141e 0%, rgba(15, 20, 30, 0.54) 100%);
}

.intro__inner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.intro__inner .button {
  margin: 59px auto 0px auto;
}

.intro__body {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.intro__body h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
}

.intro__body h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.15em;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #ffffff;
}

.intro__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333946;
  padding: 13px 9px 5px 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-height: 85px;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 23%;
  margin: 15px 19px 0px 0px;
}

.intro__card img {
  margin-right: 8px;
}

.advantages {
  padding: 53px 0px 52px 0px;
}

.advantages .button {
  margin: 80px auto 0px auto;
}

.advantages__cards {
  margin-top: 44px;
}

.advantages__card {
  background: #222732;
  border-radius: 4px;
  width: 47%;
  margin-top: 20px;
  padding: 40px 23px 10px 25px;
  color: #fff;
  min-height: 297px;
  float: left;
}

.advantages__card.light-card {
  color: #222732;
}

.advantages__card h4 {
  margin: 16px 0px 14px 0px;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__images {
  position: relative;
  width: 50%;
  height: 410px;
  margin-right: 26px;
}

.info__images img {
  position: absolute;
}

.info__images img.img-1 {
  right: 0;
  top: 0;
  width: 70%;
  max-width: 344px;
}

.info__images img.img-2 {
  left: 0;
  top: 50%;
  width: 63%;
  z-index: 3;
  max-width: 290px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.info__images img.img-3 {
  max-width: 261px;
  left: 55%;
  -webkit-transform: translate(-55%, 0);
      -ms-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
  bottom: 0;
  width: 58%;
}

.info__text {
  width: 50%;
  max-width: 535px;
}

.market {
  padding: 52px 0px 29px 0px;
}

.market__body {
  margin-top: 28px;
}

.market__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.market__card {
  padding: 35px 15px 25px 15px;
  width: 23%;
  margin: 8px 10px;
  min-height: 195px;
}

.market__card h4 {
  color: #ff4605;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.1em;
  margin-bottom: 5px;
}

.market__card:nth-child(4) {
  margin-right: 0;
}

.market__card.big-card {
  min-height: 185px;
  padding: 15px 15px 15px 15px;
  width: 31.3%;
}

.market__card.big-card h4 {
  font-size: 31px;
}

.market__actions {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23px;
  text-align: center;
}

.market__actions p {
  font-weight: 500;
}

.market__actions .button {
  height: 79px;
  margin-top: 25px;
}

.price {
  padding: 40px 0px 57px 0px;
  background: url(../img/money.png) no-repeat;
  background-color: #1b202d;
  background-size: auto 100%;
  background-position: 100% 100%;
  overflow: hidden;
  position: relative;
}

.price .button {
  margin: 20px auto 0px auto;
}

.price .container {
  position: relative;
  z-index: 3;
}

.price__body {
  margin-top: 45px;
  max-width: 1012px;
}

.price__block {
  max-width: 805px;
  margin: 0 auto;
}

.price__top {
  width: 90%;
  background-color: #2b303c;
  border-radius: 8px 8px 0px 0px;
  padding: 15px 10px;
  margin: 0 auto;
}

.price__top h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  color: #ff4605;
}

.price__block-content {
  background: #333946;
  padding: 24px 20px 15px 20px;
  border-radius: 8px 8px 0px 0px;
  color: #ffffff;
}

.price__scond-title {
  font-weight: bold;
  font-size: 20px;
  padding: 0px 0px 17px 0px;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
}

.price__block-item {
  padding-top: 20px;
  padding-bottom: 9px;
  border-top: 1px solid #565d6d;
}

.price__block-item h5 {
  margin-bottom: 9px;
}

.main-list li {
  position: relative;
  padding-left: 19px;
}

.main-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: #ff4605;
  width: 5px;
  height: 12px;
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
}

.price__bot {
  padding: 14px 20px;
  text-align: center;
  background: #2b303b;
  border-radius: 0px 0px 8px 8px;
  color: #ffffff;
}

.price__bot h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
}

.swiper-button-next,
.swiper-button-prev {
  background: url(../img/arrowSlider.png) no-repeat;
  background-size: cover;
  font-size: 0;
  width: 73px;
  height: 50px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.system {
  padding: 50px 0px;
}

.system .button {
  margin: 29px auto 0px auto;
}

.system__body {
  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (32%)[3];
  grid-template-columns: repeat(3, 32%);
}

.main-row {
  position: absolute;
  width: 67%;
  height: 70%;
  left: 13%;
  top: 15%;
}

.main-row img {
  width: 100%;
  height: 100%;
}

.system__block {
  margin-top: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 22px 18px 18px 17px;
  position: relative;
  z-index: 2;
}

.system__block h4 {
  font-size: 54px;
  font-weight: 400;
  margin-right: 17px;
  color: #222732;
}

.system__block:nth-child(4) {
  margin-right: 0;
}

.system__block:nth-child(7) {
  margin-right: 0;
}

.system__block:nth-child(10) {
  margin-right: 0;
}

.system__text h5 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: 5px;
  color: #222732;
}

.adaptive-1 {
  display: none;
}

.adaptive-2 {
  display: none;
}

.about {
  position: relative;
  z-index: 10;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.about__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__body h2 {
  text-align: left;
  margin-bottom: 13px;
}

.about__video-block {
  width: 35%;
}

.video {
  max-width: 470px;
  height: 380px;
}

.about__block {
  background-color: #222732;
  padding: 43px 17px 42px 25px;
  color: #ffffff;
  width: 65%;
  border-radius: 4px;
}

.about__block li {
  margin-bottom: 22px;
}

.about__block h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 14px;
}

.result {
  padding: 0px 0px 48px 0px;
  margin-top: 47px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171d2b), to(#222732));
  background: -o-linear-gradient(top, #171d2b 0%, #222732 100%);
  background: linear-gradient(180deg, #171d2b 0%, #222732 100%);
  overflow: hidden;
  position: relative;
}

.result::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background: url(../img/money-2.png);
}

.result .container {
  position: relative;
  z-index: 3;
}

.result__body {
  max-width: 972px;
}

.result__block {
  max-width: 775px;
  width: 100%;
  margin: 41px auto 0px auto;
  color: #fff;
}

.result__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.result__top img {
  margin-right: 22px;
}

.result__content {
  margin-top: 12px;
}

.result__item {
  padding: 17px 17px 10px 14px;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
}

.result__item h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.45em;
  margin-bottom: 4px;
  color: #ff0000;
}

.result__item h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 8px;
  color: #ffffff;
}

.result__item.green {
  background: rgba(25, 148, 23, 0.1);
}

.result__item.green h5 {
  color: #00a41a;
}

.result__item p {
  padding-left: 16px;
}

.result__actions {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.result__actions p {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.35em;
  color: #ffffff;
}

.result__actions .button {
  width: 373px;
  margin-top: 23px;
}

.calculator {
  padding: 140px 0px 0px 0px;
}

.calculator__body {
  max-width: 740px;
  margin: 0 auto;
  margin-top: 20px;
}

.calculator__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #222732;
}

.firstTitle {
  margin-bottom: 5px;
}

.irs-bar {
  background-color: #ff4605 !important;
  height: 8px !important;
}

.irs-handle {
  width: 25px !important;
  height: 25px !important;
  top: 18px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.15) !important;
}

.irs-handle i {
  background: #ff4605 !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50%;
}

.irs-handle i:nth-child(1) {
  display: none !important;
}

.irs-handle i:nth-child(3) {
  display: none !important;
}

.irs-to,
.irs-from,
.irs-max,
.irs-min,
.irs-single {
  top: 60px !important;
  background: none !important;
  font-family: "Montserrat" !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  color: #afafc3 !important;
}

.irs-to::before,
.irs-from::before,
.irs-max::before,
.irs-min::before,
.irs-single::before {
  content: none !important;
}

.irs--flat .irs-line {
  background-color: #ededf4;
  height: 8px;
}

.calculator__block {
  margin-top: 58px;
}

.calculator__inner {
  margin-top: 60px;
}

.calculator__inner h4 {
  margin-bottom: 12px;
}

.calculator__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__result {
  padding: 18px 29px 13px 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 156%;
  color: #222732;
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.calculator__result #total_sum {
  font-weight: 900;
  font-size: 20px;
  margin-right: 9px;
  color: #ff4605;
}

.btn-calculator {
  width: 375px;
}

.questions {
  padding: 85px 0px 65px 0px;
}

.acord__item {
  margin-top: 19px;
}

.acord__item.active__acord .acord__top img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.acord__bot {
  display: none;
  padding: 10px 35px 5px 30px;
}

.acord__top {
  padding: 27px 35px 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 156%;
  font-weight: 700;
  color: #222732;
}

.acord__top picture {
  height: 8px;
}

.acord__top img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.questions .button {
  margin: 20px auto 0px auto;
}

.footer {
  background-color: #222732;
  padding: 0px 0px 25px 0px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -10px;
  margin-bottom: 6px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #3f4757;
}

.footer__block {
  width: 23%;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
}

.footer__block.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block.social a span {
  display: block;
}

.footer__block.social a img {
  margin-right: 8px;
  width: 40px;
  max-width: 40px;
}

.footer__block img {
  max-width: 100%;
}

.footer__block a {
  color: #ffffff;
}

.footer__block p {
  margin-bottom: 10px;
}

.footer__block p .link {
  text-decoration: underline;
}

.footer__privacy {
  font-size: 14px;
  line-height: 180%;
  display: block;
  margin: 21px auto 0px auto;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.footer__links {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links .footer__block {
  width: 32%;
}

.header {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1225px;
  padding: 0px 10px;
}

.adaptive {
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 20px;
  color: #ffffff;
}

.popup__content {
  text-align: center;
  border-radius: 5px;
  max-width: 450px;
  background-color: #fff;
  position: relative;
  width: 90%;
  top: -60px;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transform: rotateX(-70deg);
          transform: rotateX(-70deg);
  -webkit-transform-origin: 50% 3% 0px;
      -ms-transform-origin: 50% 3% 0px;
          transform-origin: 50% 3% 0px;
  padding: 20px 20px 10px 20px;
}

.popup__content .main-text {
  line-height: 18px;
  color: #4d4d4d;
  margin-top: 15px;
  font-size: 14px;
}

.popup__content .main-text a {
  text-decoration: underline;
  color: #4d4d4d;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.842);
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.popup.open {
  opacity: 1;
  -webkit-transition: ease 0.7s;
  -o-transition: ease 0.7s;
  transition: ease 0.7s;
  visibility: visible;
}

.popup.open .popup__content {
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-transform-origin: 50% 50% 0px;
      -ms-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.popup__full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: unset !important;
  left: 0;
}

.popup__closes {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
}

.popup__closes::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #818181;
  content: "";
  display: block;
  -webkit-transform: rotate(45deg) translate(0px, 9px);
      -ms-transform: rotate(45deg) translate(0px, 9px);
          transform: rotate(45deg) translate(0px, 9px);
}

.popup__closes::after {
  position: absolute;
  top: 65%;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #818181;
  content: "";
  display: block;
  -webkit-transform: rotate(-45deg) translate(0px, -9.3px);
      -ms-transform: rotate(-45deg) translate(0px, -9.3px);
          transform: rotate(-45deg) translate(0px, -9.3px);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__body .button {
  width: 100%;
  height: 60px;
  margin-top: 30px;
}

.popup__title {
  margin-top: 20px;
}

.popup__form {
  margin-top: 10px;
}

.main-input {
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  width: 100%;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

.main-input:focus {
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  font-family: "Montserrat";
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.light-card {
  background: #eff3fa;
  border-radius: 4px;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #ff4605;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0px 10px;
  border-radius: 4px;
}

.button:hover {
  background-color: #db3a00;
}

.button:active {
  background-color: #b63000;
}

.btn-main {
  width: 395px;
  height: 60px;
}

.btn-mini {
  background: #ff4605;
  border-radius: 4px;
  width: 300px;
  height: 60px;
}

.header-btn {
  height: 50px;
  width: 234px;
}

.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3em;
  color: #222732;
}

.block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2em;
}

.main-text {
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 400;
}

.orange {
  color: #ff4605;
}

.white {
  color: #ffffff !important;
}

.green-text {
  color: #00a41a;
}

.adaptive {
  display: none;
}

@media (max-width: 1024px) {
  .intro__card {
    width: 43%;
    margin: 10px 20px 0px 0px;
  }

  .intro__card img {
    margin-right: 13px;
  }

  .intro__card:nth-child(even) {
    margin-right: 0;
  }

  .intro {
    background-size: 100% 80%;
    background-position: 0 100%;
  }

  .intro .button.adaptive-use {
    display: none;
  }

  .intro .button.adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 85px;
    margin: 10px 0px 0px 0px;
    width: 43%;
  }

  .market__card {
    width: 22.75%;
  }

  .market__card h4 {
    font-size: 35px;
  }

  .market__card p {
    font-size: 14px;
    line-height: 25px;
  }

  .market__card.big-card {
    width: 31%;
  }

  .price__block .button {
    margin-top: 85px;
  }

  .price__arrow {
    display: block;
    top: 100%;
    height: 40px;
    width: 60px;
  }

  .price__arrow img {
    width: 100%;
    height: 100%;
  }

  .price__arrow.swiper-button-prev {
    left: 40%;
    -webkit-transform: translate(-65%, -100px);
        -ms-transform: translate(-65%, -100px);
            transform: translate(-65%, -100px);
  }

  .price__arrow.swiper-button-next {
    right: 40%;
    -webkit-transform: translate(65%, -100px) rotate(180deg);
        -ms-transform: translate(65%, -100px) rotate(180deg);
            transform: translate(65%, -100px) rotate(180deg);
  }

  .about__block {
    width: 55%;
  }

  .about__video-block {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .system__body {
    margin-top: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .system__body.adaptive-use {
    display: none;
  }

  .system__body.adaptive-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .system {
    padding: 36px 0px 55px 0px;
  }

  .main-row {
    width: 53%;
    height: 80%;
    left: 23%;
    top: 10%;
  }

  .system__block {
    width: 47%;
    margin-top: 15px;
    margin-right: 15px !important;
  }

  .system__block:nth-child(odd) {
    margin-right: 0 !important;
  }

  .about .button {
    width: 100%;
  }

  .result__arrow {
    display: none;
  }

  .result::before {
    background-size: 150% 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 880px) {
  .market__card {
    width: 47% !important;
  }

  .market__card:nth-child(even) {
    margin-right: 0 !important;
  }

  .market__card:nth-child(odd) {
    margin-left: 0 !important;
  }
}

@media (max-width: 850px) {
  .footer__block {
    width: 40%;
  }

  .footer {
    padding-bottom: 14px;
  }

  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }

  .footer__links .footer__block {
    width: 100%;
    margin-bottom: 27px;
  }

  .footer__inner {
    padding-bottom: 0;
    border: none;
  }

  .footer__privacy.adaptive {
    display: block;
    text-align: left;
    margin-top: 30px;
  }

  .footer__privacy.adaptive-use {
    display: none;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-top: 148px;
    padding-bottom: 50px;
    background-size: 100% 90%;
  }

  .intro__body {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }

  .intro__body h2 {
    line-height: 1.15em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .advantages {
    padding: 30px 0px 33px 0px;
  }

  .advantages .button {
    margin-top: 30px;
  }

  .info__body {
    margin-top: 25px;
  }

  .info__images {
    height: 290px;
  }

  .info__images img {
    position: absolute;
  }

  .info__images img.img-3 {
    left: 65%;
  }

  .advantages__cards {
    -ms-grid-columns: (48.6%)[2];
    grid-template-columns: repeat(2, 48.6%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }

  .advantages__cards.adaptive-use {
    display: none;
  }

  .advantages__cards.adaptive {
    display: -ms-grid;
    display: grid;
  }

  .advantages__cards h4 {
    font-size: 16px;
    margin: 10px 0px 3px 0px;
  }

  .advantages__cards .main-text {
    font-size: 14px;
    line-height: 20px;
  }

  .advantages__card {
    padding: 25px 0px 22px 0px;
    width: 100%;
    margin-top: 15px;
  }

  .advantages__card .swiper-slide {
    padding: 0px 14px 0px 8px;
  }

  .advantages__arrow {
    background-image: url(../img/arrAdv.svg);
    width: 8px;
    height: 18px;
    top: 62px;
  }

  .advantages__arrow.swiper-button-prev {
    right: 77px;
    left: auto;
  }

  .advantages__arrow.swiper-button-next {
    right: 34px;
  }

  .market__card {
    width: 46% !important;
  }

  .about__body li {
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 20px;
  }

  .about__body li::before {
    top: 3px;
  }

  .about__block {
    padding: 16px 18px 16px 25px;
  }

  .about__block h5 {
    margin-bottom: 20px;
  }

  .video {
    max-width: 357px;
    height: 285px;
  }

  .video img {
    width: 100%;
  }

  .calculator {
    padding: 40px 0px 0px 0px;
  }

  .questions {
    padding-top: 53px;
  }

  .calculator__body {
    padding-left: 10px;
  }

  #total_sum {
    width: auto !important;
  }

  .calculator__block {
    margin-top: 64px;
  }

  .calculator__block:first-child {
    margin-top: 30px;
  }

  .calculator__body {
    margin-top: 0;
  }

  .calculator__result {
    width: 50%;
  }

  .btn-calculator {
    width: 50%;
  }
}

@media (max-width: 768px) and (max-width: 767px) {
  .intro__body h1 {
    font-size: calc(24px + 30.6 * ((100vw - 320px) / 1920));
  }

  .intro__body h2 {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 680px) {
  .footer__top {
    top: -3px;
  }

  .footer__inner {
    margin-top: 20px;
  }

  .logo img {
    width: 120px;
  }

  .adaptive {
    display: block;
  }

  .button.header-btn {
    width: 50px !important;
    height: 50px;
    font-size: 0 !important;
  }

  .contacts a {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__text {
    width: 100%;
    margin-top: 10px;
  }

  .info__images {
    width: 100%;
    margin-right: 0;
    height: 400px;
  }
}

@media (max-width: 620px) {
  .intro {
    background-size: 140% 70%;
    padding-top: 130px;
    background-position: 100% 0;
  }

  .intro .button.adaptive {
    margin-top: 30px;
    width: 100%;
    min-height: 60px;
  }

  .intro__card {
    width: 100%;
    margin-right: 0;
  }

  .main-title {
    font-size: 30px;
  }

  .system__body.adaptive-1 {
    display: none;
  }

  .system__body.adaptive-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .system {
    padding: 40px 0px 44px 0px;
  }

  .system .button {
    margin-top: 17px;
  }

  .system__text h5 {
    margin-bottom: 0;
  }

  .system__block {
    width: 100%;
    margin-right: 0 !important;
    margin-top: 10px;
    padding: 16px 10px 12px 8px;
  }

  .system__block h4 {
    font-size: 34px;
    font-weight: 400;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about h2 {
    text-align: center;
  }

  .about__block {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    padding: 23px 11px 48px 15px;
  }

  .about__block h5 {
    font-size: 16px;
    line-height: 25px;
  }

  .video {
    max-width: 100%;
    width: 100%;
    height: 240px;
    border-radius: 4px 4px 0px 0px;
  }

  .about__video-block {
    width: 100%;
  }
}

@media (max-width: 524px) {
  .advantages__cards.adaptive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  .advantages__cards.adaptive .advantages__card {
    margin-right: 0 !important;
  }

  .advantages__cards.adaptive .advantages__card:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .advantages__cards.adaptive .advantages__card:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .advantages__cards.adaptive .advantages__card:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .advantages__cards.adaptive .advantages__card:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .advantages .button {
    margin-top: 25px;
  }

  .market__card {
    width: 100% !important;
    margin: 10px 0px 0px 0px !important;
  }

  .market__body {
    margin-top: 12px;
  }

  .market__body .button {
    height: 68px;
    margin-top: 20px;
  }

  .market {
    padding: 30px 0px 65px 0px;
  }

  .price__top {
    padding: 20px 10px 22px 10px;
  }

  .price__top h3 {
    font-size: 20px;
  }

  .pirce {
    padding: 30px 0px 40px 0px;
  }

  .price__body {
    margin-top: 21px;
  }

  .price__block-content {
    padding: 24px 8px 12px 11px;
  }

  .price__block-content h4 {
    font-size: 18px;
  }

  .price__block-content .main-list li {
    line-height: 20px;
    font-size: 14px;
  }

  .price__block-content .main-list:nth-child(2) li {
    line-height: 25px;
  }

  .price__bot {
    padding: 13px 10px 12px 11px;
  }

  .price__bot h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .result__arrow {
    display: block;
    top: 100%;
    height: 40px;
    width: 60px;
  }

  .result__arrow img {
    width: 100%;
    height: 100%;
  }

  .result__arrow.swiper-button-prev {
    left: 40%;
    -webkit-transform: translate(-65%, -110px);
        -ms-transform: translate(-65%, -110px);
            transform: translate(-65%, -110px);
  }

  .result__arrow.swiper-button-next {
    right: 40%;
    -webkit-transform: translate(65%, -110px) rotate(180deg);
        -ms-transform: translate(65%, -110px) rotate(180deg);
            transform: translate(65%, -110px) rotate(180deg);
  }

  .result__actions p {
    display: none;
  }

  .result__body .button {
    margin-top: 75px;
  }

  .result {
    padding-bottom: 50px;
  }

  .calculator {
    padding: 30px 0px 0px 0px;
  }

  .calculator__block:first-child {
    margin-top: 20px;
  }

  .calculator__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calculator__result {
    width: 100%;
  }

  .btn-calculator {
    width: 100%;
    margin-top: 15px;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__links {
    width: 100%;
  }

  .footer__block {
    width: 100% !important;
  }
}

@media (max-width: 440px) {
  .intro {
    background-size: 170% 65%;
  }

  .info__images {
    height: 290px;
  }

  .button {
    width: 100% !important;
    font-size: 16px !important;
  }

  .result__actions p {
    font-size: 16px;
  }

  .main-text {
    font-size: 14px !important;
  }

  .result {
    margin-top: 41px;
  }

  .result__block {
    margin-top: 26px;
  }

  .result__block h6 {
    font-size: 16px;
  }

  .result__block .result__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .result__block .result__top p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }

  .result__block .result__top img {
    margin-right: 0;
  }

  .calculator__body {
    padding-left: 20px;
  }

  .questions {
    padding: 30px 0px 43px 0px;
  }

  .questions .button {
    width: 100%;
  }

  .acord__top {
    padding: 11px 20px 10px 10px;
  }

  .acord__bot {
    padding: 5px 20px 4px 10px;
  }

  .main-title {
    font-size: 24px;
  }

  .main-btn {
    font-size: 16px;
  }

  .footer__top {
    padding-left: 0 !important;
  }

  .footer__block {
    margin-bottom: 13px !important;
  }

  .header__inner {
    padding-left: 0;
  }

  .contacts a {
    margin-right: 10px;
  }

  .popup__content .main-text {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) and (min-width: 767px) {
  .intro__body h1 {
    font-size: calc(24px + 18 * (100vw / 1920));
  }

  .intro__body h2 {
    font-size: calc(20px + 10 * (100vw / 1920));
  }
}