/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ======================================================================= */

.header__burger {
  width: 30px;
  top: 0px;
  height: 33px;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 10005;
}

.header__burger span {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: block;
  height: 3px;
  background-color: #fff;
}

.header__burger span::before {
  margin-top: -8px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.header__burger span::after {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.active span {
  height: 0px;
}

.active span::before {
  -webkit-transform: rotate(45deg) translate(0px, 9px);
      -ms-transform: rotate(45deg) translate(0px, 9px);
          transform: rotate(45deg) translate(0px, 9px);
}

.active span::after {
  -webkit-transform: rotate(-45deg) translate(0px, -9.3px);
      -ms-transform: rotate(-45deg) translate(0px, -9.3px);
          transform: rotate(-45deg) translate(0px, -9.3px);
}

.header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  z-index: 1000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 25px;
}

.header.sect1 {
  background-color: #4356a3;
}

.header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  font-size: 16px;
  color: #ffffff;
  margin-right: 55px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.nav-link:hover {
  color: #c2c7ca;
}

.nav-link:hover::before {
  width: 100%;
  height: 2px;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5c6eb5;
  opacity: 0.3;
  bottom: -10px;
  width: 0;
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.btn-header {
  width: 250px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#67a7f2), to(rgba(49, 122, 231, 0.96)));
  background: -o-linear-gradient(top, #67a7f2 0%, rgba(49, 122, 231, 0.96) 100%);
  background: linear-gradient(180deg, #67a7f2 0%, rgba(49, 122, 231, 0.96) 100%);
  border-radius: 27px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-header:hover {
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}

.btn-header:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-header:before {
  content: none;
}

.intro {
  height: 100vh;
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/1.jpg) center;
  background-size: cover;
}

.intro__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(39, 47, 124, 0.7);
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  max-width: 700px;
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.intro-subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
  max-width: 420px;
  line-height: 31px;
  margin-bottom: 40px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.btn-intro {
  width: 380px;
  height: 80px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.intro__img {
  height: 100%;
}

.img-intro {
  position: absolute;
  top: 100px;
  z-index: 2;
  right: 0px;
  width: 800px;
}

@-webkit-keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 150%;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 150%;
  }
}

.advantages {
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  padding: 55px 0px 120px 0px;
  position: relative;
  overflow-x: hidden;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 410px;
  margin-right: 70px;
}

.advantages__block:last-child {
  margin-right: 0;
}

.advantages__block-img img {
  width: 222.87px;
  height: 142px;
  display: block;
}

.advantages__block-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
  margin-top: 10px;
  color: #ffffff;
}

.bg-item {
  position: absolute;
  z-index: 2;
}

.right-bg-item {
  right: 0;
  top: 0;
}

.left-bg-item {
  left: -50px;
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.crypto {
  padding: 55px 0px 80px 0px;
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
}

.crypto__inner {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crypto__img {
  position: relative;
  width: 50%;
  margin-right: 30px;
}

.crypto__img img {
  position: relative;
  width: 100%;
  z-index: 3;
}

.crypto-circle {
  position: absolute !important;
  top: -37%;
  z-index: 2;
  width: 100%;
}

.crypto__content {
  margin-top: 20px;
  max-width: 545px;
  width: 100%;
}

.crypto-text {
  margin-top: 25px;
  margin-bottom: 35px;
}

.btn-crypto {
  width: 100%;
  height: 80px;
}

.info {
  padding: 55px 0px 110px 0px;
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  margin: 70px 0px 0px 0px;
}

.info__block:nth-child(2) {
  margin-right: 0px;
}

.info__block:last-child {
  margin-right: 0px;
}

.info__block-number {
  width: 55px;
  height: 55px;
  background-color: #3893c6;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.info__block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 486px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__block-title {
  margin-bottom: 12px;
}

.reg {
  padding: 70px 0px 15px 0px;
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
}

.reg__form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}

.reg__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.input-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 9px;
  color: #ffffff;
}

.reg__input {
  height: 60px;
  padding: 25px 30px;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 17px;
  line-height: 29px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.reg__input:focus {
  -webkit-box-shadow: 0px 0px 11px 9px rgba(0, 0, 0, 0.164) inset;
          box-shadow: 0px 0px 11px 9px rgba(0, 0, 0, 0.164) inset;
}

.reg__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #dfdfdf;
}

.reg__input::-moz-placeholder {
  font-weight: 400;
  color: #dfdfdf;
}

.reg__input:-ms-input-placeholder {
  font-weight: 400;
  color: #dfdfdf;
}

.reg__input::-ms-input-placeholder {
  font-weight: 400;
  color: #dfdfdf;
}

.reg__input::placeholder {
  font-weight: 400;
  color: #dfdfdf;
}

.btn-reg {
  margin-top: 45px;
  height: 75px;
  width: 100%;
}

.copyright {
  text-align: center;
  margin-top: 65px;
  border-top: 1px solid #5c6eb5;
  padding-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.team {
  padding: 50px 0px 150px 0px;
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  position: relative;
  overflow: hidden;
}

.team-slider {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 850px;
}

.team__body {
  position: relative;
}

.team__inner {
  margin-top: 110px;
  min-width: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__block {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px 0px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.801);
  min-width: 0;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.leftT-bg-item {
  top: -20px;
  left: -20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-slide-active {
  padding: 0px 25px 30px 25px;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
  opacity: 1 !important;
}

.team__block-img {
  background-color: transparent;
  width: 110px;
  height: 115px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
  position: relative;
  top: -50px;
}

.team__block-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 104%;
  height: 104%;
}

.team__block-content {
  margin-top: -35px;
}

.team__block-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  color: #000000;
}

.team-container {
  max-width: 1050px !important;
}

.team__block-subtitle {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}

.team__block-text {
  font-weight: 400 !important;
  color: #1d1d1d !important;
}

.swiper-button-prev svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
}

.swiper-button-prev:after {
  content: none;
}

.swiper-button-next svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
}

.swiper-button-next:after {
  content: none;
}

.slider-button {
  top: 60%;
}

.slider-button:hover svg {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #fbfbfb;
}

.slider-button:hover svg ellipse {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #fbfbfb;
}

body {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  background: -o-linear-gradient(322.59deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  background: linear-gradient(127.41deg, #3b4d94 15.26%, rgba(73, 95, 184, 0.87) 71.67%, rgba(73, 95, 184, 0.87) 71.67%);
  overflow-x: hidden;
}

body.active {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #656588;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2d8e0;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #656588;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 30px;
}

.button {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#67a7f2), to(rgba(49, 122, 231, 0.96)));
  background: -o-linear-gradient(top, #67a7f2 0%, rgba(49, 122, 231, 0.96) 100%);
  background: linear-gradient(180deg, #67a7f2 0%, rgba(49, 122, 231, 0.96) 100%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:before {
  content: "";
  width: 50px;
  background-color: rgba(255, 255, 255, 0.24);
  position: absolute;
  top: -20px;
  left: -200px;
  height: 150%;
  -webkit-animation: shine 4s ease 0s infinite;
          animation: shine 4s ease 0s infinite;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.button:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main-title {
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  max-width: 830px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

.main-title:before {
  content: "";
  width: 7%;
  height: 3px;
  background-color: #5c6eb5;
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 101px;
}

.main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #e9e9e9;
}

.secondary-title {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #ffffff;
}

@media (max-width: 1240px) {
  .crypto__content {
    padding-right: 30px;
    max-width: 100%;
    width: 45%;
  }

  .crypto__img {
    width: 55%;
  }
}

@media (max-width: 1150px) {
  .info__block {
    margin-right: 20px;
    width: 48%;
  }

  .info__block:nth-child(even) {
    margin-right: 0px;
  }
}

@media (max-width: 1100px) {
  .secondary-title {
    font-size: 22px;
  }

  .main-text {
    font-size: 15px;
  }

  .crypto-text {
    margin-top: 11.9px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1060px) {
  .bg-item {
    height: 220px;
  }
}

@media (max-width: 1050px) {
  .nav-link {
    margin-right: 30px;
  }

  .btn-header {
    width: 220px;
    height: 45px;
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .team-slider {
    width: 88%;
  }

  .info__inner {
    margin-top: 0px;
  }
}

@media (max-width: 992px) {
  .main-title {
    font-size: 36.5px;
    line-height: 1.2em;
  }

  .crypto__img {
    width: 60%;
    margin-right: 0px;
  }

  .intro-title {
    font-size: 32px;
    line-height: 1.1em;
    max-width: 500px;
  }

  .intro-subtitle {
    font-size: 20px;
    margin-top: 15px;
    max-width: 420px;
    line-height: 1.2em;
    margin-bottom: 30px;
  }

  .btn-intro {
    width: 350px;
    height: 70px;
  }

  .reg__form {
    margin-top: 50px;
  }

  .reg {
    padding: 40px 0px 15px 0px;
  }
}

@media (max-width: 950px) {
  .crypto__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }

  .crypto__img {
    margin: 0 auto;
    width: 70%;
  }

  .crypto__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}

@media (max-width: 900px) {
  .header__right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(8, 1, 1, 0.904);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    overflow-y: auto;
    padding: 50px 0px;
    top: -2000px;
  }

  .header__right.active {
    top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__logo {
    z-index: 1000;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-link {
    margin-right: 0px;
    display: block;
    padding: 40px 0px;
    font-size: 22px;
  }

  .btn-header {
    font-size: 20px;
    width: 280px;
    height: 60px;
  }

  .header__burger {
    display: block;
  }

  .team-slider {
    width: 85%;
  }

  .advantages__block {
    margin-right: 25px;
  }
}

@media (max-width: 800px) {
  .info__block-number {
    margin-right: 20px;
  }

  .header {
    padding: 15px 0px;
  }
}

@media (max-width: 768px) {
  .swiper-slide-active {
    padding: 0 15px 30px 15px;
  }

  .item-adv.left-bg-item {
    display: none;
  }

  .advantages {
    padding: 45px 0px;
  }

  .advantages__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }

  .advantages__block-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.3em;
  }

  .advantages__block {
    width: 48%;
    margin-right: 20px;
  }

  .advantages__block:nth-child(even) {
    margin-right: 0;
  }

  .advantages__block:nth-child(3) {
    margin-top: 30px;
  }

  .main-title {
    font-size: 30px;
  }

  .crypto {
    padding: 35px 0px 55px 0px;
  }
}

@media (max-width: 755px) {
  .info__block-number {
    height: 45px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    margin-right: 15px;
    font-size: 24px;
  }

  .info {
    padding: 40px 0px 55px 0px;
  }
}

@media (max-width: 700px) {
  .bg-item {
    height: 150px;
  }

  .team {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 690px) {
  .secondary-title {
    font-size: 20px;
  }
}

@media (max-width: 680px) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: -3.5px;
  }

  .team-slider {
    width: 88%;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: -3.5px;
  }

  .crypto__img {
    margin: 0 auto;
    width: 100%;
  }

  .input-title {
    font-size: 19px;
  }

  .reg__input-block {
    margin-top: 20px;
  }

  .btn-reg {
    height: 65px;
    margin-top: 25px;
  }

  .main-title::before {
    bottom: -35%;
  }

  .reg-title::before {
    bottom: -25% !important;
  }

  .copyright {
    margin-top: 50px;
    line-height: 1.3em;
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .advantages-title:before {
    content: none;
  }
}

@media (max-width: 650px) {
  .info__block {
    width: 100%;
    max-width: 100%;
    margin: 20px auto !important;
  }

  .info__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

@media (max-width: 630px) {
  .main-title {
    font-size: 24px;
    line-height: 1.3em;
  }
}

@media (max-width: 600px) {
  .intro-title {
    font-size: 26px;
    max-width: 400px;
    line-height: 1.3em;
  }

  .btn-intro {
    font-size: 20px;
    height: 65px;
  }
}

@media (max-width: 580px) {
  .team__block-text {
    font-size: 14px;
  }

  .team__block-title {
    font-size: 20px;
  }

  .team__block-subtitle {
    font-size: 17px;
  }
}

@media (max-width: 570px) {
  .advantages__block {
    width: 46%;
  }

  .advantages__block:nth-child(3) {
    width: 90%;
  }

  .advantages__block-title {
    margin-bottom: 4px;
  }
}

@media (max-width: 564px) {
  .input-title {
    font-size: 17px;
  }

  .main-title {
    line-height: 1.15em;
  }

  .btn-reg {
    height: 55px;
    font-size: 20px;
  }

  .reg__form {
    margin-top: 45px;
  }

  .main-title::before {
    bottom: -55%;
  }

  .reg__input {
    height: 50px;
    padding: 25px 30px;
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .advantages__block {
    width: 100% !important;
    margin: 8px 0px !important;
  }

  .advantages__inner {
    margin-top: 10px;
  }

  .advantages__block-title {
    margin-bottom: 4px;
  }

  .advantages {
    padding: 30px 40px;
  }
}

@media (max-width: 500px) {
  .btn-crypto {
    height: 70px;
  }

  .secondary-title {
    font-size: 18px;
    line-height: 1.2em;
  }

  .crypto-text {
    font-size: 14px;
  }

  .crypto__content {
    margin-top: 10px;
  }

  .swiper-container {
    width: 100%;
    margin: 0;
  }

  .slider-button {
    display: none;
  }

  .swiper-slide-active {
    padding: 0 6px 25px 6px;
  }

  .team__block-text {
    font-size: 13px;
  }

  .team__block-img img {
    width: 114%;
    height: 114%;
  }

  .team__block-img {
    width: 100px;
    height: 105px;
  }

  .team__block-title {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .team__block-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .main-title {
    font-size: 21px;
    line-height: 1.05em;
  }

  .main-title:before {
    width: 15%;
  }

  .container {
    padding: 0px 10px;
  }

  .copyright {
    font-size: 12px;
    margin-top: 40px;
  }

  .btn-reg {
    font-size: 17px;
  }

  .crypto__content {
    margin-top: 0px;
  }

  .crypto__img {
    display: none;
  }
}

@media (max-width: 430px) {
  .intro__content {
    text-align: center;
  }

  .intro-title {
    font-size: 23px;
  }

  .intro-subtitle {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .btn-intro {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .bg-item {
    height: 110px;
  }

  .btn-crypto {
    height: 60px;
    font-size: 19px;
  }
}

@media (max-width: 390px) {
  .main-text {
    font-size: 14px;
  }

  .copyright {
    font-size: 10px;
    line-height: 1.3em;
  }

  .input-title {
    font-size: 15px;
  }

  .main-title::before {
    bottom: -65%;
  }

  .info {
    padding-bottom: 30px;
  }
}

@media (max-width: 365px) {
  .main-title {
    font-size: 19px;
    line-height: 1.05em;
  }
}

@media (max-width: 350px) {
  .main-text {
    font-size: 13px;
  }
}

@media (max-width: 330px) {
  .main-text {
    font-size: 12px;
  }
}

@media (max-height: 500px) {
  .btn-header {
    padding: 20px 0px;
  }
}

@media (max-height: 440px) {
  .intro {
    height: 500px;
  }

  .intro__bg {
    height: 500px;
  }
}