@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Montserrat";
  font-weight: 900;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ======================================================================= */

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.884);
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.popup.open {
  opacity: 1;
  -webkit-transition: ease 0.7s;
  -o-transition: ease 0.7s;
  transition: ease 0.7s;
  visibility: visible;
}

.popup.open .popup__inner {
  visibility: visible;
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-transform-origin: 50% 50% 0px;
      -ms-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

body.lock {
  overflow: hidden;
}

.popup__inner {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: 88%;
  background-color: #1d181c;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  top: -60px;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transform: rotateX(-70deg);
          transform: rotateX(-70deg);
  -webkit-transform-origin: 50% 3% 0px;
      -ms-transform-origin: 50% 3% 0px;
          transform-origin: 50% 3% 0px;
  border: 5px solid #f754e1;
}

.popup__content {
  padding: 80px 80px 0px 80px;
  position: relative;
}

.popup__full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: default !important;
  left: 0;
}

.popup__closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__closes {
  right: 15px;
  top: 15px;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__drop-text {
  text-align: center;
  letter-spacing: 0.11em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
}

.popup__title {
  line-height: 1.3em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1.9em;
}

.popup__text {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.margin-input {
  margin: 3em 0px 3em 0px;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  border: 1px solid #a5a3a4;
  background-color: #1d181c;
  padding: 1.5rem 2rem 1.5rem 2.1rem;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popup__input:focus {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.popup__form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
}

.popup__inputs-text {
  font-size: 25px;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.bot {
  position: static;
}

.popup__selected {
  position: relative;
  font-weight: 500;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: 0.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.popup__selected.active {
  color: #fff;
}

.popup__selected[data-state="active"] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
      -ms-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.popup__selected[data-state="active"] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
      -ms-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.popup__selected[data-state="active"] .__select__content {
  opacity: 1;
  visibility: visible;
}

.popup__select-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 72px;
  border: 1px solid #a5a3a4;
  background-color: #1d181c;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
  background: url(../img/arrow_down.svg) no-repeat;
  background-position: 95% 43%;
}

.__select__content {
  position: absolute;
  top: 73px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
}

.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #291e24;
}

.popup__option {
  padding: 25px !important;
  color: #ffffff;
  background-color: #1d181c;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popup__option:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #221a1e;
}

.popup__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popup__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
}

.popup__selected-connect {
  margin-top: 16px;
}

.popup-connection .popup__content {
  padding: 44px 60px 54px 52px;
}

.popup-connection .popup__title {
  margin-bottom: 36px;
  margin-top: 15px;
}

.popup-connection .popup__inner {
  max-width: 825px;
  padding: 0;
  -webkit-transform-origin: 50% 50% 0px;
      -ms-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

.popup-connection .popup__form-inputs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-connection .margin-input {
  margin-bottom: 36px;
  margin-top: 0;
}

.popup-thanks .popup__inner {
  width: 70%;
  padding: 0;
}

.popup-thanks .popup__content {
  padding: 44px 50px 52px 50px;
}

.popup-thanks .popup__closes {
  width: 44px;
}

.popup__text-dark {
  color: rgba(255, 255, 255, 0.3);
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.popup-thanks__title {
  margin-bottom: 45px;
  margin-top: 0.7em !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 40px;
  width: 100%;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  position: relative;
}

.header__nav-link {
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 900;
}

.header__nav-item {
  text-align: right;
  margin-top: 30px;
}

.header__nav-item:first-child {
  margin-top: 0;
}

.intro {
  background-color: #bd00a3;
  width: 100%;
  position: relative;
}

.intro-wrapper {
  padding-top: 72px;
  background-color: #bd00a3;
}

.intro__title {
  line-height: 1.54em;
  margin-top: -52px;
  opacity: 0.65;
}

.intro__subtitle {
  font-size: 90px;
  margin-top: 95px;
  line-height: 1.6em;
  position: relative;
  opacity: 0.7;
  z-index: 3;
  margin-bottom: 135px;
}

.intro__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  margin-top: 14%;
}

.intro__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__contact {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__contact-item {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  line-height: 1.1em;
  margin-bottom: 25px;
  color: #fff;
}

.intro__contact-item:last-child {
  margin-bottom: 0;
}

.about {
  background-color: #1d181c;
  padding-top: 232px;
  padding-bottom: 230px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__block {
  width: 25%;
  text-align: center;
  position: relative;
  margin-top: 280px;
}

.about__block:nth-child(2) {
  margin-top: 880px;
}

.about__block:nth-child(3) {
  margin-top: 0px;
}

.about__block:nth-child(4) {
  margin-top: 520px;
}

.about__block-Info_text {
  position: relative;
}

.about__block-text {
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 13;
  overflow: visible;
}

.drop-text {
  line-height: 1.2em;
  position: absolute;
  z-index: 1;
  letter-spacing: 0.2em;
  max-width: 100%;
  opacity: 0.7;
  text-shadow: -0 -0.8px 0 #f754e1, 0 0.8px 0 #f754e1, -0 0.8px 0 #f754e1, -0.8px -0 0 #f754e1 0.8px 0 #f754e1 !important;
}

.drop-text.text__drop-botr {
  bottom: -18% !important;
  right: -3% !important;
}

.drop-text.text__drop-topl {
  bottom: 0px;
  top: -9%;
  right: -14%;
}

.drop-text.text__drop-botl {
  bottom: 0px;
  top: 9%;
  right: 0px;
  left: -7%;
}

.drop-text.text__drop-topr {
  top: -8%;
  right: -8%;
  left: none;
}

.about__block-img {
  position: absolute;
  top: -100%;
  z-index: 2;
  left: -73%;
  width: 110%;
}

.launch-img {
  position: absolute;
  left: 30%;
  width: 150%;
  top: 65px;
}

.print {
  padding-bottom: 224px;
}

.print__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.print__block {
  min-height: 1080px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 66px 50px 62px;
  position: relative;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  z-index: 5;
}

.print__block:hover {
  background-color: #fff;
}

.print__block:hover .print__block-title {
  color: #fff;
}

.print__block:hover .print__block-hidden {
  display: block;
  visibility: visible;
}

.btn-print {
  width: 100%;
  height: 80px;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #1d181c;
  margin-top: 80px;
}

.btn-print:hover {
  background-color: #0c0a0c;
}

.print__img-gorilla {
  position: absolute;
  right: 8%;
  top: -50px;
  z-index: 5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 26%;
}

.print__img-gorilla.rotate__img {
  -webkit-animation: rotated_left 0.6s ease 0s forwards;
          animation: rotated_left 0.6s ease 0s forwards;
}

.print__img-circle {
  position: absolute;
  bottom: -31%;
  left: -10%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 48%;
}

.print__img-circle.rotate__img {
  -webkit-animation: rotated 0.4s ease 0s forwards;
          animation: rotated 0.4s ease 0s forwards;
}

.print__block-title {
  line-height: 1.26em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.print__block-hidden {
  width: 100%;
  margin-top: 77px;
  display: none;
  visibility: hidden;
}

.print__list-item {
  line-height: 1.85em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.43em;
  color: #5e5e5e;
}

.print__list-item:first-child {
  margin-top: 0px;
}

@-webkit-keyframes rotated_left {
  0% {
    width: 26%;
  }

  100% {
    width: 15%;
    right: 16%;
    -webkit-transform: translate(-140%, 0) rotate(-50deg);
            transform: translate(-140%, 0) rotate(-50deg);
  }
}

@keyframes rotated_left {
  0% {
    width: 26%;
  }

  100% {
    width: 15%;
    right: 16%;
    -webkit-transform: translate(-140%, 0) rotate(-50deg);
            transform: translate(-140%, 0) rotate(-50deg);
  }
}

@-webkit-keyframes rotated {
  0% {
    width: 48%;
  }

  100% {
    width: 29%;
  }
}

@keyframes rotated {
  0% {
    width: 48%;
  }

  100% {
    width: 29%;
  }
}

.advantages {
  border: none;
  position: relative;
  visibility: visible;
  padding-bottom: 350px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.advantages__title {
  color: #fff;
  line-height: 1.15em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.advantages__title.rectable {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  -webkit-transform: translate(calc(60vw - 100%), 0);
      -ms-transform: translate(calc(60vw - 100%), 0);
          transform: translate(calc(60vw - 100%), 0);
}

.advantages__block {
  width: 43%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 574px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute !important;
  cursor: pointer;
}

.advantages__block-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__block-right {
  -webkit-transform: translate(90%, -25%);
      -ms-transform: translate(90%, -25%);
          transform: translate(90%, -25%);
  right: 0;
}

.advantages__block-right.rectable {
  -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

.advantages__block-left {
  -webkit-transform: translate(-90%, -25%);
      -ms-transform: translate(-90%, -25%);
          transform: translate(-90%, -25%);
  left: 0;
}

.advantages__block-left.rectable {
  -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

.contact {
  position: relative;
  z-index: 10;
}

.contact__container {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 995px;
  width: 100%;
  position: relative;
  z-index: 11;
}

.contact__content-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 0px;
}

.contact__content-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 0px 0px 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.contact__content-left.rectable {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contact__title {
  font-weight: 900;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact__content-text {
  font-weight: 700;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.83em;
}

.contact__content-text:first-child {
  margin-top: 0;
}

.social {
  width: 88px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-top: 45px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.social::after {
  bottom: -12.7px !important;
  left: 13px !important;
}

.contact__map {
  position: absolute;
  right: 0;
  z-index: 20;
  -webkit-transform: translate(85%, 0);
      -ms-transform: translate(85%, 0);
          transform: translate(85%, 0);
  width: 60%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10%;
  height: 870px;
}

.contact__map.rectable {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: default;
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.contact__right {
  width: 100%;
  height: 100%;
}

.contact__right .ymaps-2-1-78-map {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-contact {
  width: 480px;
  height: 108px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 900;
  text-transform: uppercase;
  color: #1d181c;
}

.btn-contact.drop-shadow::after {
  left: -13px !important;
  bottom: -18px !important;
}

.btn-close {
  width: 255px;
  height: 88px;
  font-weight: 500;
  font-size: 16.0737px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: absolute !important;
  margin: 70px 65px 0 auto;
  z-index: 30;
  top: 0px;
  right: 0;
}

.btn-close:after {
  left: 12px !important;
  bottom: -15px !important;
}

.requirements {
  position: relative;
  margin-top: 600px;
  z-index: 10;
}

.requirements__triangle {
  position: absolute;
  bottom: -90%;
  z-index: 5;
  right: -10%;
  width: 60%;
}

.requirements__inner {
  position: relative;
  max-width: 63%;
  width: 100%;
  margin: 0 auto;
}

.requirements__title {
  font-weight: 900;
  line-height: 1.23em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.requirements__bg-title {
  left: 0;
  right: 0;
  text-align: center;
  max-width: 66%;
  margin: 0 auto;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  top: -60%;
}

.requirements__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21em;
  position: relative;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-requirements {
  height: 145px;
  width: 80%;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  background-color: #fff;
  color: #1d181c;
}

.btn-requirements:hover {
  background-color: lightgray;
}

.btn-requirements:active {
  background-color: #b4b4b4;
}

.footer {
  position: relative;
  z-index: 5;
  margin-top: 500px;
  height: 316px;
}

.footer__container {
  max-width: 87.5%;
  width: 100%;
  margin-left: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_img {
  position: absolute;
  left: -15%;
  top: -100%;
  width: 50%;
}

.footer__left {
  position: relative;
}

.footer__logo {
  width: 56%;
  margin-right: 60px;
  position: relative;
}

.footer__logo img {
  position: absolute;
  width: 100%;
}

.footer__text {
  width: 36%;
}

.footer__title {
  font-weight: 900;
  line-height: 1.15em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__subtitle {
  font-weight: 500;
  line-height: 1.3em;
  color: #404040;
  margin-top: 14px;
  display: block;
}

.footer__link {
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  display: block;
  margin-top: 65px;
}

.main-container {
  max-width: 1815px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 40px;
}

.main__container {
  background-color: #1d181c;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.transparent-text {
  text-transform: uppercase;
  color: #1d181c;
  text-shadow: -0 -2px 0 #f754e1, 0 -2px 0 #f754e1, -0 2px 0 #f754e1, 0 2px 0 #f754e1, -2px -0 0 #f754e1, 2px -0 0 #f754e1, -2px 0 0 #f754e1, 2px 0 0 #f754e1, -2px -2px 0 #f754e1, 2px -2px 0 #f754e1, -2px 2px 0 #f754e1, 2px 2px 0 #f754e1, -2px -2px 0 #f754e1, 2px -2px 0 #f754e1, -2px 2px 0 #f754e1, 2px 2px 0 #f754e1;
}

.grey-text {
  color: #bd00a3;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.54), 0 -1px 0 rgba(255, 255, 255, 0.54), 0 1px 0 rgba(255, 255, 255, 0.54), 0 1px 0 rgba(255, 255, 255, 0.54), -1px 0 0 rgba(255, 255, 255, 0.54), 1px 0 0 rgba(255, 255, 255, 0.54), -1px 0 0 rgba(255, 255, 255, 0.54), 1px 0 0 rgba(255, 255, 255, 0.54), -1px -1px 0 rgba(255, 255, 255, 0.54), 1px -1px 0 rgba(255, 255, 255, 0.54), -1px 1px 0 rgba(255, 255, 255, 0.54), 1px 1px 0 rgba(255, 255, 255, 0.54), -1px -1px 0 rgba(255, 255, 255, 0.54), 1px -1px 0 rgba(255, 255, 255, 0.54), -1px 1px 0 rgba(255, 255, 255, 0.54), 1px 1px 0 rgba(255, 255, 255, 0.54) !important;
}

.html__strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  min-height: 100%;
  z-index: 3;
  height: 100%;
}

.container-strip {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 80%;
}

.html__strip-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-strip {
  width: 3px;
  height: 100%;
  border: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.17);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-popup {
  padding: 2.3rem 4.3rem;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1d181c;
}

.btn-main__wrapper {
  position: relative;
}

.btn-main__wrapper:after {
  content: "";
  position: absolute;
  bottom: -12px;
  z-index: 1;
  right: -12px;
  width: 100%;
  height: 100%;
  background-color: #f754e1;
}

.btn-main {
  background-color: #fff;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #d4d4d4;
}

.drop-shadow {
  position: relative;
  z-index: 2;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: -25px;
  width: 100%;
  height: 100%;
  border: 3px solid #bd00a3;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.drop-shadow__right:after {
  bottom: -25px;
  left: 30px;
}

@media (min-width: 767px) {
  .popup__drop-text {
    font-size: calc(18px + 87 * (100vw / 1920));
  }

  .popup__title {
    font-size: calc(16px + 15 * (100vw / 1920));
  }

  .popup__text {
    font-size: calc(10px + 15 * (100vw / 1920));
  }

  .popup__input {
    font-size: calc(13px + 7 * (100vw / 1920));
  }

  .popup__inputs-text {
    font-size: calc(12px + 13 * (100vw / 1920));
  }

  .popup__selected {
    font-size: calc(14px + 6 * (100vw / 1920));
  }

  .popup__select-title {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .header__nav-link {
    font-size: calc(10px + 26 * (100vw / 1920));
  }

  .intro__title {
    font-size: calc(22px + 122 * (100vw / 1920));
  }

  .intro__contact-item {
    font-size: calc(10px + 20 * (100vw / 1920));
  }

  .about__block-text {
    font-size: calc(11px + 36 * (100vw / 1920));
  }

  .drop-text {
    font-size: calc(11px + 36 * (100vw / 1920));
  }

  .btn-print {
    font-size: calc(5px + 19 * (100vw / 1920));
  }

  .print__block-title {
    font-size: calc(5px + 23 * (100vw / 1920));
  }

  .print__block-number {
    font-size: calc(14px + 50 * (100vw / 1920));
  }

  .print__list-item {
    font-size: calc(5px + 23 * (100vw / 1920));
  }

  .advantages__title {
    font-size: calc(11.7px + 42.3 * (100vw / 1920));
  }

  .contact__title {
    font-size: calc(17px + 48 * (100vw / 1920));
  }

  .contact__content-text {
    font-size: calc(12.5px + 25.5 * (100vw / 1920));
  }

  .btn-contact {
    font-size: calc(12.5px + 12.5 * (100vw / 1920));
  }

  .requirements__title {
    font-size: calc(21px + 62 * (100vw / 1920));
  }

  .requirements__bg-title {
    font-size: calc(29px + 90 * (100vw / 1920));
  }

  .btn-requirements {
    font-size: calc(14px + 16 * (100vw / 1920));
  }

  .footer__title {
    font-size: calc(13.5px + 27.5 * (100vw / 1920));
  }

  .footer__subtitle {
    font-size: calc(13.8px + 21.2 * (100vw / 1920));
  }

  .footer__link {
    font-size: calc(12.5px + 14.5 * (100vw / 1920));
  }

  .btn-popup {
    font-size: calc(12px + 8 * (100vw / 1920));
  }
}

@media (max-width: 1800px) {
  .intro__subtitle {
    font-size: calc(26px + 40 * (100vw / 1800));
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  .intro__img {
    margin-top: 110px;
  }
}

@media (max-width: 1760px) {
  .footer__logo {
    top: 30px;
  }
}

@media (max-width: 1600px) {
  .intro__img {
    margin-top: 60px;
  }

  .intro-wrapper {
    padding-top: 40px;
  }

  .intro__title {
    margin-top: -29.7px;
    line-height: 1.3em;
  }

  .print__block {
    padding: 2rem;
    min-height: 820px;
  }

  .social {
    width: 60px;
    height: 60px;
    text-align: center;
  }

  .social img {
    width: 80%;
  }

  .contact__map {
    height: 700px;
  }

  .contact__content-info {
    margin: 80px 0px;
  }

  .btn-requirements {
    height: auto;
    padding: 3rem 0;
  }

  .requirements__buttons {
    margin-top: 24em;
  }

  .requirements__triangle {
    bottom: -80%;
  }

  .requirements {
    margin-top: 500px;
  }

  .footer__link {
    margin-top: 35px;
  }

  .footer {
    height: 300px;
  }

  .footer__logo {
    width: 490px;
    top: 0;
  }

  .footer__logo img {
    position: static;
  }
}

@media (max-width: 1300px) {
  .popup__input {
    width: 40%;
    margin: 2em 0px;
  }

  .popup-thanks .popup__inner {
    width: 80%;
  }

  .popup-thanks .popup__content {
    padding: 30px 20px;
  }

  .popup-thanks .popup__closes {
    width: 25px;
  }

  .popup__content {
    padding: 30px 30px 0px 30px;
  }

  .margin-input {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .popup__title {
    margin-top: 0.8em;
    margin-bottom: 1.1em;
  }

  .popup__closes {
    width: 5%;
  }

  .popup__closes img {
    width: 90%;
  }

  .popup__inner {
    width: 92%;
  }

  .popup__select-title {
    width: 350px;
  }

  .popup-connection .popup__content {
    padding: 44px 60px 54px 52px;
  }

  .popup-connection .popup__title {
    margin-bottom: 36px;
    margin-top: 15px;
  }

  .popup-connection .popup__inner {
    max-width: 70%;
  }

  .popup-connection .popup__input {
    width: 80%;
  }

  .about {
    padding-top: 120px;
  }

  .intro__title {
    font-size: calc(20px + 100 * (100vw / 1920));
    margin-top: -17.7px;
  }

  .intro {
    padding-bottom: 90px;
  }

  .intro__img img {
    height: 100%;
  }

  .header__logo {
    width: 20%;
    display: block;
  }

  .header__logo img {
    width: 100%;
  }

  .print__block {
    padding: 1.5rem;
    min-height: 700px;
  }

  .print__block-title {
    font-size: calc(7px + 16 * (100vw / 1920));
  }

  .btn-print {
    margin-top: 35px;
  }

  .print__block-hidden {
    margin-top: 40px;
  }

  .print__img-circle {
    bottom: -50%;
  }

  .advantages__block {
    z-index: 100;
    height: 450px;
  }

  .contact__content-left {
    margin: 60px 0px;
  }

  .contact__map {
    height: 650px;
    width: 62%;
  }

  .btn-close {
    width: 40%;
    height: 77px;
  }

  .btn-contact {
    width: 100%;
  }

  .requirements__buttons {
    margin-top: 20.6em;
  }

  .requirements__triangle {
    bottom: -60%;
    width: 55%;
  }
}

@media (max-width: 1100px) {
  .intro {
    padding-bottom: 0px;
  }

  .advantages__block-img {
    width: 45%;
    margin-right: 5px;
  }

  .advantages__block-img img {
    width: 100%;
  }

  .advantages__block.drop-shadow:after {
    bottom: -15px;
    left: -15px;
  }

  .advantages__block.drop-shadow__right:after {
    bottom: -15px;
    left: 15px;
  }
}

@media (max-width: 992px) {
  .btn-popup {
    padding: 1.8rem 3rem;
  }

  .popup__input {
    padding: 1.2rem 1.5rem;
  }

  .popup__form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .popup__form-block:first-child {
    margin-top: 0;
  }

  .popup__form-block .popup__select-title {
    width: 100%;
  }

  .popup__form-block .popup__selected {
    width: 100%;
  }

  .popup-connection .popup__content {
    padding: 22px 30px 24px 22px;
  }

  .popup-connection .popup__closes {
    width: 7%;
  }

  .intro__subtitle {
    font-size: calc(14.5px + 36 * (100vw - 320px) / 992);
    margin-top: 2em;
  }

  .intro__img {
    height: auto;
  }

  .intro__img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .intro__title {
    font-size: calc(18px + 125.4 * ((100vw - 320px) / 1920)) !important;
    line-height: 1.5em;
  }

  .about__block {
    margin-top: 140px;
  }

  .about__block:nth-child(2) {
    margin-top: 500px;
  }

  .about__block:nth-child(3) {
    margin-top: 0px;
  }

  .about__block:nth-child(4) {
    margin-top: 300px;
  }

  .about {
    padding-bottom: 100px;
  }

  .print__block {
    padding: 0.5rem;
    min-height: 500px;
  }

  .btn-print {
    height: 50px;
  }

  .print__list-item {
    mask-type: 16px;
  }

  .print__block-hidden {
    margin-top: 25px;
  }

  .advantages__block {
    height: 350px;
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .advantages__block-img {
    width: 40%;
  }

  .advantages__block-img img {
    width: 90%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .advantages {
    padding-bottom: 170px;
  }

  .contact__map {
    height: 450px;
    width: 58%;
  }

  .btn-close {
    width: 30%;
    height: 65px;
  }

  .contact__content-info {
    margin: 50px 0px;
  }

  .btn-contact {
    height: 80px;
  }

  .requirements {
    margin-top: 300px;
  }

  .requirements__inner {
    max-width: 90%;
  }

  .requirements__buttons {
    margin-top: 17em;
  }

  .btn-requirements {
    max-width: 65%;
  }

  .requirements__bg-title {
    max-width: 54%;
  }

  .btn-requirements {
    padding: 2.5rem 0;
  }

  .requirements__triangle {
    bottom: -40%;
    width: 49%;
  }

  .footer {
    height: auto;
    padding-bottom: 30px;
  }

  .footer__logo {
    width: 38%;
  }

  .footer__text {
    width: 53%;
  }

  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .popup__drop-text {
    font-size: calc(18px + 147.9 * ((100vw - 320px) / 1920));
  }

  .popup__title {
    font-size: calc(16px + 25.5 * ((100vw - 320px) / 1920));
  }

  .popup__text {
    font-size: calc(10px + 25.5 * ((100vw - 320px) / 1920));
  }

  .popup__input {
    font-size: calc(13px + 11.9 * ((100vw - 320px) / 1920));
  }

  .popup__inputs-text {
    font-size: calc(12px + 22.1 * ((100vw - 320px) / 1920));
  }

  .popup__selected {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1920));
  }

  .popup__select-title {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1920));
  }

  .btn-popup {
    padding: 1.5rem 2rem;
  }

  .popup__selected {
    width: 90% !important;
  }

  .popup-thanks .popup__content {
    padding: 10px;
  }

  .popup-thanks__title {
    margin-bottom: 0.9em !important;
  }

  .popup__text-dark {
    margin: 1.2em 0px 1em 0px !important;
  }

  .popup__form-block {
    margin-top: 30px;
  }

  .popup__form-block:last-child {
    margin-bottom: 20px;
  }

  .popup__select-title {
    width: 100%;
    height: 55px;
    background-size: 1.5em 1.5em;
  }

  .__select__content {
    top: 55px;
  }

  .btn-main__wrapper:after {
    bottom: -7px;
    right: -7px;
  }

  .popup__content {
    padding: 10px 10px 0 10px;
  }

  .popup__input {
    width: 90%;
  }

  .margin-input {
    margin-top: 1.7em;
    margin-bottom: 1.8em;
  }

  .popup__form-inputs {
    margin-top: 5px;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popup__form-inputs .popup__input {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .popup__title {
    margin-top: 0.3em;
    margin-bottom: 0.6em;
  }

  .header__nav-link {
    font-size: calc(10px + 44.2 * ((100vw - 320px) / 1920));
  }

  .intro__title {
    font-size: calc(22px + 207.4 * ((100vw - 320px) / 1920));
  }

  .intro__contact-item {
    font-size: calc(10px + 34 * ((100vw - 320px) / 1920));
  }

  .header__nav-item {
    margin-top: 1.3rem;
  }

  .header__nav-link {
    font-weight: 800 !important;
  }

  .main-container {
    padding: 0px 20px;
  }

  .intro__contact-item {
    margin-bottom: 15px;
  }

  .header {
    padding: 0 20px;
  }

  .intro__title {
    margin-top: -13px;
  }

  .grey-text {
    color: #bd00a3;
    text-shadow: 0 -0.6px 0 rgba(255, 255, 255, 0.54), 0 -0.6px 0 rgba(255, 255, 255, 0.54), 0 0.8px 0 rgba(255, 255, 255, 0.54), 0 0.6px 0 rgba(255, 255, 255, 0.54), -0.8px 0 0 rgba(255, 255, 255, 0.54), 0.6px 0 0 rgba(255, 255, 255, 0.54) !important;
    opacity: 0.8;
  }

  .main-strip {
    width: 2px;
  }

  .about__block-text {
    font-size: calc(11px + 61.2 * ((100vw - 320px) / 1920));
  }

  .drop-text {
    font-size: calc(11px + 61.2 * ((100vw - 320px) / 1920));
  }

  .btn-print {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1920));
  }

  .print__block-title {
    font-size: calc(5px + 39.1 * ((100vw - 320px) / 1920));
  }

  .print__block-number {
    font-size: calc(14px + 85 * ((100vw - 320px) / 1920));
  }

  .print__list-item {
    font-size: calc(5px + 39.1 * ((100vw - 320px) / 1920));
  }

  .print__block {
    padding: 0.4rem;
    min-height: 300px;
  }

  .btn-print {
    margin-top: 1em;
    height: 0;
    padding: 1.7em 0px;
  }

  .print__list-item {
    margin-top: 1em;
  }

  .print__block-hidden {
    margin-top: 1em;
  }

  .print__img-circle {
    bottom: -60%;
    width: 40%;
  }

  .print {
    padding-bottom: 150px;
  }

  .advantages__title {
    font-size: calc(11.7px + 71.91 * ((100vw - 320px) / 1920));
  }

  .advantages__block {
    height: 160%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .advantages__block.drop-shadow:after {
    bottom: -8px;
    left: -8px;
  }

  .advantages__block.drop-shadow__right:after {
    bottom: -8px;
    left: 8px;
  }

  .transparent-text {
    text-shadow: -0 -1px 0 #f754e1, 0 1px 0 #f754e1, -0 1px 0 #f754e1, 0 1px 0 #f754e1, -1px -0 0 #f754e1, 1px -0 0 #f754e1, 1px 0 0 #f754e1, 1px 0 0 #f754e1, -1px -1px 0 #f754e1, 1px -1px 0 #f754e1, -1px 1px 0 #f754e1, 1px 1px 0 #f754e1, 1px 1px 0 #f754e1, 1px -1px 0 #f754e1, -1px 1px 0 #f754e1, 1px 1px 0 #f754e1;
  }

  .advantages {
    padding-bottom: 00px;
  }

  .contact {
    padding-top: 80px;
  }

  .contact__title {
    font-size: calc(17px + 81.6 * ((100vw - 320px) / 1920));
  }

  .contact__content-text {
    font-size: calc(12.5px + 43.35 * ((100vw - 320px) / 1920));
  }

  .btn-contact {
    font-size: calc(12.5px + 21.25 * ((100vw - 320px) / 1920));
  }

  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__map {
    position: static;
    height: 400px;
    width: 100%;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    margin-top: 0;
  }

  .contact__map .ymaps-2-1-78-map {
    position: static;
  }

  .contact__content-left {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }

  .contact__container {
    max-width: 90%;
  }

  .contact__content-text {
    margin-top: 1.5em;
  }

  .social {
    margin-top: 30px;
    width: 45px;
    height: 45px;
  }

  .social img {
    width: 60% !important;
  }

  .social::after {
    bottom: -8.7px !important;
    left: 9px !important;
  }

  .btn-close {
    display: none;
  }

  .btn-contact {
    height: 60px;
  }

  .requirements__title {
    font-size: calc(21px + 105.4 * ((100vw - 320px) / 1920));
  }

  .requirements__bg-title {
    font-size: calc(29px + 153 * ((100vw - 320px) / 1920));
  }

  .btn-requirements {
    font-size: calc(14px + 27.2 * ((100vw - 320px) / 1920));
  }

  .requirements__triangle {
    display: none;
  }

  .requirements__buttons {
    margin-top: 14.5em;
  }

  .btn-requirements {
    padding: 2.2rem 0;
  }

  .footer__title {
    font-size: calc(13.5px + 46.75 * ((100vw - 320px) / 1920));
  }

  .footer__subtitle {
    font-size: calc(13.8px + 36.04 * ((100vw - 320px) / 1920));
  }

  .footer__link {
    font-size: calc(12.5px + 24.65 * ((100vw - 320px) / 1920));
  }

  .footer__container {
    max-width: 95%;
    margin: 0 auto;
  }

  .footer__logo {
    width: 45%;
    margin-right: 0;
  }

  .footer__text {
    width: 50%;
  }

  .footer {
    margin-top: 320px;
  }

  .footer_img {
    left: -25%;
    top: -70%;
  }

  .btn-popup {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 576px) {
  .btn-popup {
    padding: 1.2rem 1.4rem;
  }

  .margin-input {
    margin-top: 1.3em;
    margin-bottom: 1.4em;
  }

  .popup__closes {
    width: 6%;
  }

  .popup__inner {
    border: 3px solid #f754e1;
  }

  .popup__content {
    padding-top: 0;
  }

  .popup__inner {
    padding: 10px 0px;
  }

  .popup__drop-text {
    position: static;
  }

  .popup-connection .popup__content {
    padding: 15px;
  }

  .popup-connection .popup__title {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .popup-connection .popup__inner {
    max-width: 80%;
  }

  .header__nav-item {
    margin-top: 0.9rem;
  }

  .intro__title {
    line-height: 1.7em;
  }

  .about {
    padding-top: 40px;
  }

  .intro__contact-item {
    margin-bottom: 10px;
    font-weight: 800;
  }

  .intro-wrapper {
    padding-top: 22px;
  }

  .print__block {
    padding: 0 0.4rem 0 0.2rem;
    min-height: 250px;
  }

  .print__img-circle {
    bottom: -40%;
  }

  .print {
    padding-bottom: 90px;
  }

  .social {
    width: 35px;
    height: 35px;
  }

  .social img {
    width: 50% !important;
  }

  .drop-shadow::after {
    border: 2px solid #bd00a3;
  }

  .btn-contact.drop-shadow::after {
    left: -9.8px !important;
    bottom: -9.1px !important;
  }

  .requirements__buttons {
    margin-top: 5.5em;
  }

  .btn-requirements {
    padding: 1.7rem 0;
  }

  .requirements__bg-title {
    max-width: 90%;
  }

  .requirements__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer {
    margin-top: 200px;
    z-index: 100;
  }

  .footer__logo {
    width: 42%;
  }

  .footer__text {
    width: 53%;
  }

  .footer__link {
    margin-top: 15px;
  }

  .transparent-text {
    text-shadow: -0 -0.6px 0 #f754e1, 0 0.6px 0 #f754e1, -0 0.6px 0 #f754e1, 0 0.6px 0 #f754e1, -0.6px -0 0 #f754e1, 0.6px -0 0 #f754e1, 0.6px 0 0 #f754e1, 0.6px 0 0 #f754e1, -0.6px -0.6px 0 #f754e1, 0.6px -0.6px 0 #f754e1, -0.6px 0.6px 0 #f754e1, 0.6px 0.6px 0 #f754e1, 0.6px 0.6px 0 #f754e1, 0.6px -0.6px 0 #f754e1, -0.6px 0.6px 0 #f754e1, 0.8px 0.8px 0 #f754e1;
  }
}

@media (max-width: 440px) {
  .popup__form-inputs {
    margin-bottom: 20px;
  }

  .popup__title {
    margin-bottom: 7px;
    margin-top: 5px;
  }

  .popup-connection .popup__content {
    padding: 11px;
  }

  .popup-connection .popup__title {
    margin-bottom: 9px;
    margin-top: 13px;
  }

  .popup-connection .popup__inner {
    max-width: 85%;
  }

  .popup-connection .popup__input {
    width: 88%;
  }

  .margin-input {
    margin-top: 0.9em;
    margin-bottom: 1.3em;
  }

  .popup__form-inputs .popup__input:first-child {
    margin-top: 5px !important;
  }

  .popup__input {
    padding-left: 15px;
  }

  .popup__select-title {
    padding-left: 15px;
    background-size: 1.3em;
  }

  .intro__img {
    margin-top: 65px;
  }

  .header__nav-item {
    margin-top: 0.65rem;
  }

  .intro__title {
    line-height: 1.88em;
    margin-top: -11px;
  }

  .about__block {
    margin-top: 100px;
  }

  .about__block:nth-child(2) {
    margin-top: 330px;
  }

  .about__block:nth-child(3) {
    margin-top: 0px;
  }

  .about__block:nth-child(4) {
    margin-top: 190px;
  }

  .about {
    padding-bottom: 70px;
  }

  .print__block {
    min-height: 200px;
  }

  .contact {
    padding-top: 20px;
  }

  .contact__content-info {
    margin: 30px 0px;
  }

  .contact__map {
    height: 250px;
  }

  .btn-contact {
    height: 50px;
  }

  .requirements {
    margin-top: 170px;
  }

  .requirements__bg-title {
    top: -40%;
  }

  .requirements__buttons {
    margin-top: 6em;
  }

  .btn-requirements {
    padding: 1.3rem 0;
  }

  .footer {
    margin-top: 120px;
  }
}