@charset "UTF-8";

/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ======================================================================= */

.direction {
  margin-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 30px;
  display: none;
}

.direction__title {
  font-size: 22px;
  line-height: 140%;
  color: #333333;
  max-width: 330px;
  font-weight: 500;
}

.direction__filter {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-filt {
  margin-bottom: 44px;
}

.direction__input {
  height: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direction__subtitle {
  font-size: 14px;
  line-height: 130%;
  color: #4f4f4f;
  margin-top: 10px;
}

.direction__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.direction__items:first-child {
  margin-top: 45px;
}

.mini__input {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100% !important;
}

.mini__input .filter__checkbox-text {
  padding-left: 28px;
  margin-top: 2px;
}

.direction__item {
  width: 30.3333%;
}

.input__range-block {
  position: relative;
  width: 280px;
}

.input__range-block:before {
  content: "0";
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  color: #4f4f4f;
}

.input__range-block::after {
  content: "200";
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  color: #4f4f4f;
}

.r-num {
  position: absolute;
  top: -35px;
  left: 25%;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  color: #4f4f4f;
}

.range__input {
  max-width: 300px;
  width: 100%;
  -webkit-appearance: none;
  margin-top: 43px;
  background: -webkit-gradient(linear, left top, right top, from(#05396a), color-stop(29%, #05396a), color-stop(29%, #fff), to(#fff));
  background: -o-linear-gradient(left, #05396a 0%, #05396a 29%, #fff 29%, #fff 100%);
  background: linear-gradient(left, #05396a 0%, #05396a 29%, #fff 29%, #fff 100%);
  display: block;
  height: 16px;
  position: relative;
  border: 1px solid #05396a;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.range__input:focus {
  outline: none;
}

.range__input::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  background: url(../img/thumb.svg) no-repeat;
  width: 30px;
  height: 31px;
  z-index: 10;
  position: relative;
}

.range__input::-moz-range-thumb {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../img/thumb.svg) no-repeat;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 31px;
}

.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 !important;
}

.transparent-filter {
  background: transparent !important;
  color: #05396a !important;
  border: 2px solid #05396a;
  border-radius: 10px;
  margin-right: 20px;
}

.chevron__down {
  display: none;
}

.min-score {
  display: block;
  position: absolute;
  top: -15px;
  z-index: 8;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ff2a31;
}

.min-score:before {
  content: "";
  position: absolute;
  top: 16px;
  width: 2px;
  height: 14px;
  border-left: 1px dashed #ff2a31;
}

.direction__body-score {
  display: block;
  position: relative;
  margin-top: 10px;
  color: #05396a;
}

.direction__body-score h5 {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
}

.red-score {
  font-weight: 500;
  color: #ff2a31;
}

.choise-score {
  display: none;
}

.direction-btn {
  display: none;
}

.acord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  margin-top: 30px;
}

.acord:last-child {
  margin-right: 0px;
}

.acord__item {
  width: 100%;
  background-color: #29ba64;
  margin-top: 30px;
  border-radius: 16px;
}

.acord__item.blue {
  background-color: #63acf0;
}

.acord__item.blue .acord__bot-title {
  color: #63acf0;
}

.acord__item.blue .acord__top::after {
  background-color: #63acf0;
}

.acord__item.blue .acord__bot-code span {
  color: #63acf0;
  border: 1px solid #63acf0;
}

.acord__item.blue .acord__bot-logo {
  border-color: #63acf0;
}

.acord__item.blg {
  background-color: #00b0ac;
}

.acord__item.blg .acord__bot-title {
  color: #00b0ac;
}

.acord__item.blg .acord__bot-logo {
  border-color: #00b0ac;
}

.acord__item.blg .acord__top::after {
  background-color: #00b0ac;
}

.acord__item.blg .acord__bot-code span {
  color: #00b0ac;
  border: 1px solid #00b0ac;
}

.acord__item.orange {
  background-color: #ff9558;
}

.acord__item.orange .acord__bot-title {
  color: #ff9558;
}

.acord__item.orange .acord__bot-logo {
  border-color: #ff9558;
}

.acord__item.orange .acord__top::after {
  background-color: #ff9558;
}

.acord__item.orange .acord__bot-code span {
  color: #ff9558;
  border: 1px solid #ff9558;
}

.acord__top {
  padding: 30px 36px 30px 30px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.acord__top.active__acord .acord__arrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.acord__top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acord__border {
  display: block;
  width: 1.6px;
  border: none;
  opacity: 0.5;
  background: #ffffff;
  height: 85px;
}

.acord__arrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.acord__left {
  margin-right: 40px;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acord-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2em;
  color: #ffffff;
}

.acord__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.acord__info span {
  font-size: 16px;
  line-height: 1.25em;
  display: block;
  margin-right: 16px;
  color: #ffffff;
}

.acord__info span:last-child {
  margin-right: 0;
}

.acord__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acord__right-text {
  font-size: 16px;
  line-height: 140%;
  margin-right: 50px;
  max-width: 470px;
  color: #ffffff;
}

.acord__bot {
  padding: 5px 30px 0px 30px;
  display: none;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.acord__bot-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.acord__bot-item:last-child {
  padding-bottom: none;
}

.acord__bot-block {
  width: auto;
  max-width: 33%;
}

.acord__bot-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #29ba64;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.acord__bot-title:hover {
  text-decoration: underline;
}

.acord__bot-logo {
  text-transform: uppercase;
  border: 2px solid #29ba64;
  border-radius: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  font-weight: 900;
  font-size: 20px;
  line-height: 0px !important;
  text-align: center;
  height: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45px;
          flex: 1 0 45px;
}

.acord__bot-info {
  font-size: 15px;
  line-height: 1.25em;
  color: #4f4f4f;
  margin-top: 12px;
}

.acord__bot-info span {
  margin-right: 10px;
  display: block;
}

.acord__bot-info span:last-child {
  margin-right: 0;
}

.acord__bot-info h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  color: #333333;
}

.acord__bot-info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.sell__bot-item {
  margin-top: 30px;
}

.subject__bot-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50% !important;
  max-width: 50% !important;
}

.sell__bot-block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 40% !important;
}

.acord__bot-code {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acord__bot-code span {
  color: #29ba64;
  display: block;
  font-size: 15px;
  line-height: 1.24em;
  padding: 3px 5px 3px 5px;
  border: 1px solid #29ba64;
  border-radius: 6px;
  margin-right: 7px;
}

.acord__bot-code span:last-child {
  margin-right: 0;
}

.acord__bot-block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.acord__bot-block_item:first-child {
  margin-top: 0;
}

.acord__bot-block_title {
  color: #828282;
  font-size: 15px;
  line-height: 1.2em;
}

.acord__bot-subject {
  font-size: 16px;
  line-height: 1.2em;
  color: #4f4f4f;
  max-width: 247px;
  margin-top: 5px;
}

.subjects__acord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  max-height: 166px;
  width: 100%;
}

.header img {
  width: 100%;
}

.broadcrumb {
  margin: 43px 0px;
}

.broadcrumb__back {
  background: url(../img/arr-r.svg) left no-repeat;
  background-position: 0 -1px;
  padding-left: 28px;
  margin-right: 18px;
}

.broadcrumb__back:hover {
  background-position: -2px -1px;
  color: #1a1a1a;
}

.broadcrumb-text {
  font-size: 16px;
  line-height: 1.2em;
  color: #4f4f4f;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.broadcrumb__this {
  background: url(../img/arr-a.svg) left no-repeat;
  padding-left: 20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tune__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3em;
  display: block;
  color: #333333;
}

.tune {
  margin-top: 30px;
  padding-bottom: 32px;
  border-bottom: 1px solid #c4c4c4;
}

.tune-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.3em;
  display: block;
  color: #4f4f4f;
}

.btn-filter {
  background: #05396a;
  border-radius: 10px;
  padding: 10px 16px;
  width: 190px;
  font-size: 16px;
  line-height: 19px;
  color: #f2f2f2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-filter:hover {
  color: #d8d7d7;
  -webkit-box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.185);
}

.btn-filter:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.tune__body-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter__chechboxs {
  margin-right: 25px;
  position: relative;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.2em;
}

.filter__chechboxs:last-child {
  margin-right: 0;
}

.filter__checkbox {
  display: none;
}

.filter__checkbox-text {
  font-size: 16px;
  line-height: 1.2em;
  color: #828282;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-left: 35px;
  cursor: pointer;
}

.mini__checkbox:checked + label:before,
.mini__checkbox:not(:checked) + label:before {
  width: 18px !important;
  height: 18px !important;
}

.filter__checkbox:checked + label:before,
.filter__checkbox:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  border-radius: 3px;
  height: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid #4f4f4f;
  background-color: #ffffff;
}

.filter__checkbox:checked + label:after,
.filter__checkbox:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.filter__checkbox:checked + label:after {
  top: 23%;
  left: 6px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 15.6px;
  height: 10.1px;
  border-radius: 1px;
  border-left: 4px solid #4f4f4f;
  border-bottom: 4px solid #4f4f4f;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.filter__checkbox:not(:checked) + label:after {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.mini__checkbox:checked + label:after {
  width: 10px !important;
  height: 7px !important;
  border-left: 3px solid #4f4f4f;
  border-bottom: 3px solid #4f4f4f;
  left: 5px;
  top: 19%;
}

.more__settings-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  font-size: 16px;
  line-height: 1.2em;
  cursor: pointer;
  color: #4f4f4f;
  padding-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.more__settings-body.open-settings h4 {
  opacity: 0;
}

.more__settings-body.open-settings img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.more__settings-body.open-settings:after {
  content: "Скрыть настройки";
  position: absolute;
  top: 0;
  right: 33px;
  opacity: 1;
}

.more__settings {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.more__settings img {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 14px;
}

@media (max-width: 992px) {
  .filter__checkbox:checked + label:before,
  .filter__checkbox:not(:checked) + label:before {
    width: 20px !important;
    height: 20px !important;
    border: none;
    border-radius: 50%;
  }

  .filter__checkbox:not(:checked) + label:before {
    border: 1px solid #05396a;
  }

  .filter__checkbox:checked + label:before {
    background-color: #05396a;
  }

  .filter__checkbox:checked + label:after {
    top: 20%;
    left: 5px;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 9.6px;
    height: 7.1px;
    border-radius: 1px;
    border-left: 2.8px solid #fff;
    border-bottom: 2.8px solid #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }

  .tune__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tune__body-input {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .tune__button {
    margin-top: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .acord__right-text {
    margin-right: 10px;
  }

  .acord__right {
    padding-left: 20px;
  }

  .acord__left {
    margin-right: 20px;
  }

  .acord__bot-block:first-child {
    max-width: 37%;
  }

  .filter__checkbox-text {
    padding-left: 27px;
  }

  .direction__input {
    width: 26%;
  }

  .direction__input:last-child {
    width: 20%;
  }

  .input__range-block {
    width: 240px;
  }

  .subjects__acord {
    width: 55%;
  }

  .acord__bot-block:first-child {
    max-width: 44%;
    width: 44%;
  }
}

@media (max-width: 830px) {
  .input__range-block {
    width: 200px;
  }

  .range__input::-webkit-slider-thumb {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
  }

  .range__input::-moz-range-thumb {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
  }

  .filter__checkbox-text {
    font-size: 14px;
    margin-top: 2px;
  }

  .direction__input {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .subjects__acord {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
  }

  .subject__bot-block {
    max-width: 100% !important;
    width: 100% !important;
  }

  .acord__bot-block:first-child {
    width: 55%;
    max-width: 55%;
  }

  .acord__bot-info {
    margin-top: 20px;
  }

  .acord__bot-code {
    margin-top: 20px;
  }

  .acord__bot-block_item {
    margin-top: 20px;
  }

  .acord__left {
    max-width: 40%;
  }

  .sell__bot-block {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .direction__input {
    width: 34%;
  }

  .direction__input:last-child {
    width: 10%;
  }

  .direction__input:nth-child(2) {
    width: 24%;
  }

  .direction__input:nth-child(3) {
    width: 25%;
  }

  .acord__right-text {
    font-size: 14px;
  }

  .acord-title {
    font-size: 18px;
  }

  .acord__top {
    padding: 20px 15px 15px 18px;
    position: relative;
  }

  .acord__info span {
    font-size: 14px;
  }

  .subject__bot-block {
    margin-right: 0px;
    width: 40%;
  }

  .subject__bot-block:last-child {
    margin: 20px 0px 0px 0px;
  }

  .acord__bot {
    padding: 0px 15px 15px 18px;
  }

  .broadcrumb {
    display: none;
  }
}

@media (max-width: 700px) {
  .direction__body-inner {
    padding: 19px 15px 17px 17px;
  }

  .filter__buttons {
    display: none;
  }

  .direction {
    border-bottom: none;
    padding-bottom: 0;
  }

  .direction__filters-buttons {
    width: 100%;
    padding-top: 14px;
  }

  .direction__filters-body {
    display: block;
  }

  .direction__filters-buttons {
    border-top: 1px solid #dddddd;
    text-align: center;
    margin-top: 10px;
  }

  .items-button {
    margin-top: 40px;
  }

  .direction-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    text-transform: uppercase;
    width: auto !important;
  }

  .more__settings {
    display: none;
  }

  .direction__body-top {
    width: 100%;
    padding: 12px 12px 12px 17px;
    border: 2px solid #05396a;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .direction__body-top .direction__title {
    font-size: 18px;
    line-height: 20px;
    color: #05396a;
    text-decoration: underline;
  }

  .direction__body-top.active .chevron__down {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .direction__body-inner {
    display: none;
  }

  .choise-score {
    display: block;
  }

  .chevron__down {
    display: block !important;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .direction__body-score {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
    border-bottom: 1px solid #dddddd;
  }

  .direction__body-score h5 {
    font-weight: 300;
  }

  .choise-score {
    position: absolute;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    padding: 0px 8px;
    background-color: #f6f6f6;
    z-index: 3;
  }

  .direction__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }

  .direction__subtitle {
    display: none;
  }

  .input__range-block:before {
    content: none;
  }

  .input__range-block:after {
    content: none;
  }

  .filter__checkbox-text {
    color: #05396a;
  }

  .direction__body-inner {
    background-color: #f6f6f6;
  }

  .r-num {
    width: 52px;
    height: 28px;
    background-color: #fff;
    left: 100% !important;
    top: -40px;
    border-radius: 5px;
    -webkit-transform: translate(-100%, 0%) !important;
        -ms-transform: translate(-100%, 0%) !important;
            transform: translate(-100%, 0%) !important;
    color: #05396a;
  }

  .direction__item {
    width: 100%;
    margin-top: 25px;
  }

  .direction__item:first-child {
    margin-top: 0;
  }

  .input__range-block {
    width: 100%;
  }

  .range__input {
    max-width: 100%;
    margin-top: 12px;
  }

  #dbt1 {
    margin-top: 10px;
  }

  .direction__input {
    width: 50% !important;
    margin-top: 20px;
    padding-right: 20px;
  }

  .last-filt {
    margin-bottom: 0;
  }

  .direction__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }

  .direction__filters-body {
    background-color: #ededed;
    padding: 0px 12px 20px 12px;
    display: none;
  }

  .filter_b {
    display: none;
  }

  .tune__body-input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tune {
    padding-bottom: 20px;
  }

  .tune .tune__button {
    margin: 0;
  }

  .tune .filter__chechboxs {
    width: 100%;
    margin: 0;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8px 0px 0px 0px;
    border: 2px solid #05396a;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    height: auto;
    background-color: #fff;
  }

  .tune .filter__checkbox:checked + label:before,
  .tune .filter__checkbox:not(:checked) + label:before {
    left: 70%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .tune .filter__checkbox:checked + label:after {
    left: 71%;
    top: 38.7%;
  }

  .tune .filter__checkbox:not(:checked) + label:after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }

  .tune .filter__checkbox-text {
    margin-top: 0;
    padding: 11px;
    width: 100% !important;
    height: 100%;
    position: relative;
    display: block;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .acord__top-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .acord__bot-info__items span {
    font-size: 14px;
    line-height: 16px;
    color: #828282;
  }

  .acord__bot-block {
    width: 100% !important;
    margin-right: 0;
    margin-top: 20px;
    max-width: 100% !important;
  }

  .acord__bot-block:first-child {
    margin-top: 0;
  }

  .acord__bot-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .subjects__acord {
    width: 100%;
    margin-top: 20px;
    max-width: 100%;
  }

  .acord__bot-title {
    font-size: 20px;
    padding-top: 7px;
    border-top: 1px solid #dddddd;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .acord__bot-info__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }

  .acord__bot-info__items span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .acord__bot-info__items span strong {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 6px;
    color: #c08430;
  }

  .acord__bot-code {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }

  .acord__bot-subject {
    max-width: 100%;
  }

  .acord__bot-block_item {
    margin-top: 20px;
  }

  .acord__bot-block_item:first-child {
    margin-top: 0;
  }

  .acord__left {
    width: 100%;
    margin-right: 0;
    max-width: 100% !important;
  }

  .acord__item {
    border-radius: 0 !important;
    margin-top: 65px;
  }

  .acord__item:first-child {
    margin-top: 0;
  }

  .acord__top {
    overflow: visible;
  }

  .acord__top:after {
    content: "Развернуть список:";
    padding: 10px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    left: 0;
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 42px;
    padding-right: 20px;
    background-color: #29ba64;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
    color: #ffffff;
    border-top: 3px solid #fff;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }

  .acord__top.active__acord:before {
    -webkit-transform: rotate(0deg) !important;
        -ms-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .acord__top:before {
    content: "";
    position: absolute;
    bottom: -28px;
    width: 15px;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 10px;
    background-image: url(../img/Vectorarrs.svg);
    left: 74%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .acord__bot {
    padding-top: 47px;
  }

  .acord-title {
    text-align: center;
    max-width: 455px;
    margin: 0 auto;
    padding-bottom: 11px;
  }

  .acord__arrow {
    display: none;
  }

  .acord__right {
    margin-top: 8px;
    padding-left: 0;
  }

  .acord__right-text {
    text-align: justify;
    margin-right: 0;
    max-width: 100%;
  }

  .acord__border {
    width: 100%;
    height: 1px;
  }

  .acord__info {
    border-top: 1px solid rgba(255, 255, 255, 0.493);
    padding-top: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .acord__info span {
    margin-right: 0;
  }

  .acord__bot-item {
    margin-top: 42px;
    padding-bottom: 20px;
  }

  .acord__bot-item:first-child {
    margin-top: 25px;
  }

  .acord__bot-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width: 530px) {
  .tune .filter__checkbox:checked + label:before,
  .tune .filter__checkbox:not(:checked) + label:before {
    left: 74%;
  }

  .tune .filter__checkbox:checked + label:after {
    left: 75.3%;
  }
}

@media (max-width: 450px) {
  .direction__input {
    width: 60% !important;
  }

  .direction__input:nth-child(even) {
    padding-right: 0;
    width: 30% !important;
    margin-right: 0 !important;
  }

  .direction__title {
    font-size: 16px !important;
  }

  .choise-score {
    display: block;
    width: 70%;
  }

  .acord__top {
    padding: 10px 11px 10px 11px;
  }

  .acord__info span {
    font-size: 13px;
  }

  .acord__top:after {
    background-position: 77% 52%;
  }
}

@media (max-width: 440px) {
  .tune .filter__checkbox:checked + label:before,
  .tune .filter__checkbox:not(:checked) + label:before {
    left: 79%;
  }

  .tune .filter__checkbox:checked + label:after {
    left: 80.8%;
  }

  .tune .filter__checkbox-text {
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .acord__top:after {
    background-position: 83% 52%;
  }

  .acord__bot {
    padding: 0px 12px 10px 11px;
  }

  .acord__bot-title {
    font-size: 17px !important;
  }

  .acord__bot-code span {
    font-size: 14px;
  }

  .acord__bot-block_title {
    font-size: 14px;
  }

  .acord__bot-subject {
    font-size: 14px;
  }

  .acord__bot-item:first-child {
    margin-top: 65px;
  }
}

@media (max-width: 350px) {
  .choise-score {
    display: block;
    width: 80%;
  }

  .direction__body-score h5 {
    font-size: 13px;
  }

  .acord__info span {
    font-size: 12px;
  }

  .acord__bot-code span {
    font-size: 13px;
  }
}