/* Null */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:focus-visible {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  margin-bottom: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
}

/* ======================================================================= */

.header__burger {
  min-width: 30px;
  top: -3px;
  height: 33px;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 10005;
}

.header__burger span {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: block;
  height: 3px;
  background-color: #fff;
}

.header__burger span::before {
  margin-top: -8px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.header__burger span::after {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.header__burger.active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger.active span {
  height: 0px;
}

.header__burger.active span::before {
  -webkit-transform: rotate(45deg) translate(0px, 9px);
      -ms-transform: rotate(45deg) translate(0px, 9px);
          transform: rotate(45deg) translate(0px, 9px);
}

.header__burger.active span::after {
  -webkit-transform: rotate(-45deg) translate(0px, -9.3px);
      -ms-transform: rotate(-45deg) translate(0px, -9.3px);
          transform: rotate(-45deg) translate(0px, -9.3px);
}

.header {
  background: #004170;
  -webkit-box-shadow: 0px 2px 4px rgba(3, 124, 189, 0.25);
          box-shadow: 0px 2px 4px rgba(3, 124, 189, 0.25);
  width: 100%;
  padding: 40px 0px;
}

.header__logo {
  width: 185px;
}

nav {
  max-width: 590px;
  width: 100%;
}

.nav-item {
  display: block;
  max-width: 115px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.26em;
}

.nav-item .nav-link {
  color: #ffffff;
  padding: 0;
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-item .nav-link:hover {
  color: #71c7e3;
}

.header__geo {
  width: 185px;
}

.active-list a {
  color: #71c7e3 !important;
}

.header__search {
  width: 100%;
  max-width: 590px;
}

.header__search_block {
  margin-top: 32px;
}

.footer {
  background: #004170;
  padding: 80px 0px;
}

.footer .nav-item {
  margin-bottom: 22px;
  max-width: 100%;
}

.footer__logo {
  max-width: 285px;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.footer__bot {
  margin-top: 100px;
}

.footer__logo-adaptive {
  display: none;
}

.main-card-title {
  font-weight: 500;
  line-height: 1.23em;
  color: #001224;
}

.main-card-desc {
  line-height: 1.25em;
  color: #001224;
}

.main-card-button {
  background: -o-linear-gradient(94.67deg, #ffa629 4.4%, rgba(255, 166, 41, 0.51) 96.87%);
  background: linear-gradient(355.33deg, #ffa629 4.4%, rgba(255, 166, 41, 0.51) 96.87%);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 500;
  line-height: 1.23em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #001224;
}

.main-card-button:hover {
  background: -o-linear-gradient(94.67deg, #fd9d16 6.4%, rgba(255, 149, 0, 0.51) 96.87%);
  background: linear-gradient(355.33deg, #fd9d16 6.4%, rgba(255, 149, 0, 0.51) 96.87%);
}

.main-card-button:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}

.main-card-man__date p {
  font-size: 12px;
}

.main-card-man__date b {
  font-weight: 500;
}

.main-card-men {
  padding: 32px;
  border: 1px solid #49aed6;
}

.card-img-left {
  width: 195px;
}

.card-img-left img {
  width: 100%;
}

.skills-item {
  font-size: 12px;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 8px;
  color: #001224;
  padding: 10px 20px;
  background: #e3f8fc;
}

.skills-item.more-skills {
  cursor: pointer;
}

.show-skills.main-card-skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-events {
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card-events:hover {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}

.card-events:active {
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
}

.services__card-title {
  font-weight: 600;
  line-height: 1.3em;
  color: #005d96;
}

.products {
  margin-top: 110px;
}

.products__inner .btn-text {
  margin-top: 71px;
  margin-bottom: 60px;
}

.products__buttons .btn-text {
  margin-top: 110px;
}

.products__button {
  max-width: 400px;
  height: 70px;
  width: 100%;
  margin-bottom: 110px;
  margin-top: 60px;
}

.main-card-geo-text {
  font-size: 12px;
}

.main-card-desc span.main-card-price {
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  color: #007d66;
}

.main-card-men__info {
  width: 100%;
  margin-right: 10px;
}

.main-card-skills {
  width: auto;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.products__buy-button {
  width: 100%;
  max-width: 190px !important;
  height: 45px !important;
}

.raiting-adaptive {
  display: none;
}

.products__slide-button {
  display: none !important;
}

.intro {
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -2px;
  padding: 100px 0px 197px 0px;
  min-height: 360px;
}

.intro__body {
  padding: 30px 0px;
  position: relative;
}

.intro__body::before {
  content: "";
  position: absolute;
  left: -120px;
  top: 0;
  max-width: 1077px;
  width: 100%;
  height: 100%;
  max-height: 278px;
  background: #001224;
  opacity: 0.69;
  -webkit-filter: blur(59px);
          filter: blur(59px);
}

.intro__body .intro__text {
  position: relative;
  z-index: 2;
}

.intro__body h3 {
  line-height: 1.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__body h2 {
  font-weight: 500;
  line-height: 1.24em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__body h1 {
  font-weight: 600;
  line-height: 1.2em;
  color: #ffffff;
}

.opportunities {
  padding: 110px 0px;
}

.opportunities__block-title {
  font-weight: 700;
  color: #037cbd;
}

.opporunities__block-text {
  line-height: 1.2em;
  color: #b35600;
}

.services__desc {
  font-size: 16px;
}

.events {
  padding: 110px 0px;
}

.btn-text {
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.3em;
  background: none;
  color: #49aed6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-text:hover {
  color: #0faeec;
}

.carousel-indicators {
  margin-bottom: 0 !important;
  display: none;
}

.carousel-indicators button {
  background: #9edef0 !important;
  width: 8px !important;
  height: 8px !important;
  border: none !important;
  border-radius: 50%;
  opacity: 1 !important;
  margin: 0px 4px !important;
}

.carousel-indicators button.active {
  background: #ffa629 !important;
}

.services__button {
  max-width: 400px;
  height: 70px;
}

.events-card-button {
  height: 44px;
  max-width: 190px;
}

.events__bot-btn {
  margin-top: 48px;
  max-width: 495px;
  height: 70px;
  margin-bottom: 110px;
}

.main-card-button {
  width: 100%;
}

.tabs-content {
  margin-top: 70px;
}

.breadcrumb a {
  color: #005d96;
  font-size: 16px;
}

.breadcrumb li.active {
  color: #9edef0;
  font-size: 16px;
}

.tabs {
  margin-top: 60px;
  margin-bottom: 32px;
}

.tabs-search {
  height: 60px;
  padding-left: 80px !important;
  background-position: 20px 50% !important;
  background-size: 22px 22px !important;
}

.tabs-link {
  padding: 18px 40px;
  text-transform: uppercase;
  color: #001224;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  max-height: 55px;
  line-height: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tabs-link:hover {
  background: #2495c9;
  color: #fff;
}

.tabs-link.active {
  background: #2495c9;
  color: #fff;
}

.tooltip-apply {
  position: relative;
}

.tooltip-apply .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #001224;
  width: 320px;
  padding: 8px;
}

.tooltip-apply .tooltip.right-tooltip {
  right: -12px;
  top: -2px;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.tooltip-apply .tooltip.right-tooltip::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  border-top: 7px solid transparent;
  border-right: 10px solid white;
  border-bottom: 7px solid transparent;
}

.tooltip-apply .tooltip.bot-tooltip {
  left: 25px;
  bottom: -12px;
  -webkit-transform: translate(-100%, 100%);
      -ms-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  max-width: 300px;
}

.tooltip-apply .tooltip.bot-tooltip::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
}

.tooltip-apply .tooltip h4 {
  font-weight: bold;
  font-size: 12px;
  display: block;
  line-height: 1.2em;
  font-family: "Inter";
  color: #001224;
}

.tooltip-apply .tooltip ul {
  padding-left: 0;
}

.tooltip-apply .tooltip li {
  font-size: 12px;
  font-family: "Inter";
}

.tooltip-apply .tooltip-hover {
  cursor: pointer;
}

.tooltip-apply:hover .tooltip {
  visibility: visible;
  background: #ffffff;
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 32, 51, 0.12);
          box-shadow: 0px 0px 14px 4px rgba(0, 32, 51, 0.12);
}

.tooltip-arrow::before {
  background-color: #fff;
  border-color: #001224;
}

.main-map {
  margin-bottom: 110px;
  height: 70vh;
}

.tabs-adaptive {
  display: none !important;
}

#info-tooltip {
  margin-bottom: 65px;
}

.form-control {
  position: relative;
  height: 50px;
  max-width: 340px;
  width: 500px;
  padding: 10px 38px 10px 16px;
}

.form-control option {
  padding: 10px 16px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  pointer-events: none;
  content: "";
  background-image: url(../../img/arrow_b.svg);
  position: absolute;
  width: 12px;
  height: 8px;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.form-label {
  width: 130px;
}

.remove-item {
  display: none !important;
}

.date-control {
  padding-right: 12px;
  background-image: none;
}

.mini-control {
  max-width: 245px;
}

.date-control::-webkit-calendar-picker-indicator {
  background-image: url(../../img/calendar.svg);
  padding: 5px;
  border: none !important;
  margin: 0px !important;
}

.main-checkbox {
  width: 18px;
  height: 18px;
}

.main-checkbox.form-check-input:checked[type="checkbox"] {
  background-image: url(../../img/mark.svg) !important;
  background-size: 14px 10px;
}

.adaptive-filter-checkbox {
  display: none;
}

.main-tooltip-adaptive {
  display: none;
}

.container {
  max-width: 1232px;
  padding: 0px 16px;
}

body {
  font-family: "Inter";
  font-weight: 400;
  overflow-x: hidden;
}

.fw-500 {
  font-weight: 500 !important;
}

.sportsmens-btn {
  margin-top: 60px !important;
}

.blue-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  color: #004170;
}

.main-search {
  border: 1px solid rgba(0, 66, 105, 0.28);
  padding: 10px 30px 10px 40px;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
  background-size: 14px 14px;
  background-image: url(../img/search.svg);
  background-position: 11px 50%;
  background-repeat: no-repeat;
}

.main-search:focus {
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.205) inset;
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.205) inset;
  background-color: #f3f3f3;
}

.mt-32 {
  margin-top: 32px;
}

h2.main-title {
  font-weight: 500;
  line-height: 1.23em;
  text-transform: uppercase;
  color: #005d96;
}

@media (min-width: 767px) {
  .main-card-title {
    font-size: calc(16px + 12 * (100vw / 1440));
  }

  .main-card-desc {
    font-size: calc(14px + 5 * (100vw / 1440));
  }

  .main-card-button {
    font-size: calc(14px + 5 * (100vw / 1440));
  }

  .services__card-title {
    font-size: calc(16px + 7 * (100vw / 1440));
  }

  .main-card-desc span.main-card-price {
    font-size: calc(16px + 7 * (100vw / 1440));
  }

  .intro__body h3 {
    font-size: calc(12px + 11 * (100vw / 1440));
  }

  .intro__body h2 {
    font-size: calc(14px + 26 * (100vw / 1440));
  }

  .intro__body h1 {
    font-size: calc(32px + 68 * (100vw / 1440));
  }

  .opportunities__block-title {
    font-size: calc(40px + 60 * (100vw / 1440));
  }

  .opporunities__block-text {
    font-size: calc(13px + 6 * (100vw / 1440));
  }

  .tabs-link {
    font-size: calc(9px + 10 * (100vw / 1440));
  }

  .form-control {
    font-size: calc(12px + 4 * (100vw / 1440));
  }

  h2.main-title {
    font-size: calc(19px + 21 * (100vw / 1440));
  }
}

@media (max-width: 1200px) {
  .intro {
    background-size: cover;
    background-position: 80% -2px;
  }
}

@media (max-width: 1054px) {
  .form-control {
    max-width: 250px;
  }

  .mini-control {
    max-width: 200px;
  }
}

@media (max-width: 1024px) {
  .card-img-left {
    width: 165px;
  }
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
  }

  .header {
    padding: 15px 0px 20px 0px;
  }

  .header__body {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }

  .header__search_block {
    margin-top: 0;
  }

  .header__nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    border-radius: 2px;
    background-color: #037cbd;
    -webkit-box-shadow: 0px 8px 4px rgba(0, 18, 36, 0.04), 0px 12px 28px rgba(0, 18, 36, 0.12);
            box-shadow: 0px 8px 4px rgba(0, 18, 36, 0.04), 0px 12px 28px rgba(0, 18, 36, 0.12);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px !important;
    top: 100px;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    padding: 24px 12px 0px 12px !important;
    right: -200%;
    z-index: 1000;
  }

  .header__nav.active {
    right: 0;
  }

  .header__nav .nav-link {
    color: #ffffff !important;
  }

  .header__nav .nav-item {
    margin-bottom: 24px;
    max-width: 100%;
  }

  .header__geo {
    display: none !important;
  }

  .opportunities {
    padding: 80px 0px;
  }

  .services__button {
    height: 50px;
    margin-top: 20px;
  }

  .form-control {
    max-width: 230px;
  }

  .mini-control {
    max-width: 160px;
  }

  .form-label {
    max-width: 110px;
  }
}

@media (max-width: 840px) {
  .skills-item {
    padding: 8px 16px;
  }

  .products__inner {
    margin-top: 33px !important;
  }

  .form-control {
    max-width: 220px;
  }

  .mini-control {
    max-width: 180px;
  }
}

@media (max-width: 767px) {
  .main-card-title {
    font-size: calc(16px + 20.4 * ((100vw - 320px) / 1440));
  }

  .main-card-desc {
    font-size: calc(14px + 8.5 * ((100vw - 320px) / 1440));
  }

  .main-card-button {
    font-size: calc(14px + 8.5 * ((100vw - 320px) / 1440));
  }

  .services__card-title {
    font-size: calc(16px + 11.9 * ((100vw - 320px) / 1440));
  }

  .main-card-desc span.main-card-price {
    font-size: calc(16px + 11.9 * ((100vw - 320px) / 1440));
  }

  .intro__body h3 {
    font-size: calc(12px + 18.7 * ((100vw - 320px) / 1440));
  }

  .intro__body h2 {
    font-size: calc(14px + 44.2 * ((100vw - 320px) / 1440));
  }

  .intro__body h1 {
    font-size: calc(32px + 115.6 * ((100vw - 320px) / 1440));
  }

  .intro {
    background-size: auto 100%;
  }

  .opportunities__block-title {
    font-size: calc(40px + 102 * ((100vw - 320px) / 1440));
  }

  .opporunities__block-text {
    font-size: calc(13px + 10.2 * ((100vw - 320px) / 1440));
  }

  .events h4 {
    font-size: 14px !important;
  }

  .events p {
    font-size: 14px !important;
  }

  .tabs-link {
    font-size: calc(9px + 17 * ((100vw - 320px) / 1440));
  }

  .tabs-link {
    padding: 20px;
  }

  .tabs-search {
    padding-left: 30px !important;
    background-size: 14px 14px !important;
    background-position: 10px 50% !important;
  }

  .form-control {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1440));
  }

  .form-label {
    width: 100px;
  }

  .products {
    margin-top: 60px;
  }

  #info-tooltip {
    margin-bottom: 20px;
  }

  .form-control {
    max-width: 300px;
    height: 40px;
  }

  .mini-control {
    max-width: 220px;
  }

  h2.main-title {
    font-size: calc(19px + 35.7 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 765px) {
  .main-card-men__body {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .header__nav {
    top: 63px;
    max-width: 185px;
  }

  .header__nav .nav-link {
    font-size: 14px;
  }

  .header__burger {
    min-width: 20px;
    height: 14px;
  }

  .header__burger span {
    height: 2px;
  }

  .header__burger span::before {
    margin-top: -6px;
    height: 2px;
  }

  .header__burger span::after {
    margin-top: 4px;
    height: 2px;
  }

  .header__burger.active span::before {
    -webkit-transform: rotate(45deg) translate(0px, 7px);
        -ms-transform: rotate(45deg) translate(0px, 7px);
            transform: rotate(45deg) translate(0px, 7px);
  }

  .header__burger.active span::after {
    -webkit-transform: rotate(-45deg) translate(0px, -7px);
        -ms-transform: rotate(-45deg) translate(0px, -7px);
            transform: rotate(-45deg) translate(0px, -7px);
  }

  .header__logo {
    min-width: 80px;
    width: 80px;
  }

  .header__logo img {
    width: 100%;
  }

  .main-search {
    font-size: 12px;
    height: 27px;
  }

  .opporunities__block-text {
    line-height: 1.7em;
  }

  .opportunities {
    padding: 60px 0px;
  }

  .carousel-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .events {
    padding: 60px 0px 75px 0px;
  }

  .events__item {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .footer__logo {
    display: none;
  }

  .footer__bot {
    margin-top: 50px;
  }

  .footer__bot p {
    font-size: 12px !important;
  }

  .footer__logo-adaptive {
    display: block;
    width: auto;
    margin-bottom: 32px;
  }

  .footer__logo-adaptive img {
    width: 23vw;
  }

  .footer {
    padding: 24px 0px;
  }

  .services__button {
    height: 40px;
    max-width: 100%;
    margin-top: 16px;
  }

  .tooltip.bot-tooltip {
    max-width: 270px !important;
  }
}

@media (max-width: 520px) {
  .tabs-link {
    height: 40px;
    padding: 10px 10px;
  }
}

@media (max-width: 460px) {
  .del-price {
    display: none !important;
  }

  .raiting-card {
    display: none !important;
  }

  .raiting-adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
  }

  .main-card-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-card-skills .skills-item {
    margin: 4px !important;
  }

  .card-img-left {
    width: 100%;
    max-height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .main-card-block__price {
    margin-top: 26px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .products__buy-button {
    max-width: 146px !important;
  }

  .card-top-title {
    margin-top: 20px !important;
  }

  .main-card-men {
    padding: 0px 12px 16px 12px;
  }

  .products__slide-button {
    bottom: -16px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .products__buttons .btn-text {
    padding: 0 !important;
    margin-top: 48px !important;
  }

  .products__buttons .text-center {
    padding: 0 !important;
  }

  .products__buttons .products__button {
    margin-top: 30px !important;
    height: 40px;
  }

  .main-map {
    height: 60vh;
  }

  .card-img-left {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 180px;
  }

  .sportsmens-btn {
    margin-top: 50px !important;
  }

  .form-label {
    max-width: 100% !important;
    width: 100% !important;
  }

  .main-card-men {
    padding: 0;
  }

  .main-card-men__body {
    padding: 0px 12px 16px 12px;
  }

  .events__bot-btn {
    height: 45px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .tabs-content {
    margin-top: 40px;
  }

  .main-map {
    margin-bottom: 0;
  }

  .breadcrumb-item {
    font-size: 14px !important;
  }

  .breadcrumb-item a {
    font-size: 14px;
  }

  .products__button {
    margin-bottom: 60px !important;
  }

  .btn-text {
    font-size: 14px !important;
  }

  .tabs {
    display: none !important;
  }

  .tabs-adaptive {
    display: inline-block !important;
    margin-top: 25px;
    margin-bottom: 12px;
    width: 240px;
  }

  .tabs-adaptive .form-control {
    text-transform: uppercase;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(196, 196, 196, 0.26)), to(rgba(196, 196, 196, 0)));
    background: -o-linear-gradient(bottom, rgba(196, 196, 196, 0.26) 0%, rgba(196, 196, 196, 0) 100%);
    background: linear-gradient(0deg, rgba(196, 196, 196, 0.26) 0%, rgba(196, 196, 196, 0) 100%);
    border: 1px solid #e3f8fc;
  }

  .filters__block {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-align: left;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .filters__block label {
    margin-bottom: 8px !important;
  }

  #info-tooltip {
    display: none !important;
  }

  .adaptive-filter-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-tooltip-adaptive {
    display: inline-block !important;
  }

  .main-tooltip-adaptive .tooltip-body-adaptive {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: static;
    font-size: 12px;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }

  .main-tooltip-adaptive .active-adaptive.tooltip-body-adaptive {
    opacity: 1;
    margin-top: 8px;
    height: 100%;
  }

  .main-tooltip-adaptive .active-adaptive.tooltip-body-adaptive ul li {
    font-size: 12px !important;
    font-weight: 400;
    font-family: "Inter";
  }

  .main-tooltip-adaptive ul {
    padding-left: 0;
    color: #001224;
  }

  .main-tooltip-adaptive .tooltip-block-text {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3em;
    border-bottom: 1px dashed #004170;
    background-size: 10px;
    color: #004170;
  }

  #filters {
    margin-top: 20px !important;
    display: none !important;
  }

  #filters.visible {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .form-label {
    width: 100%;
  }

  .form-control {
    max-width: 280px;
  }

  .mini-control {
    max-width: 160px;
  }
}